<div ng-controller="AccountController">

    <div ng-hide="isLoading">
        <div class="content-box">
            <div class="container acc-cont">
                <a ng-href="" class="edit-link" id="logout-ajax"><i class="fa fa-pencil"></i>Log Out</a><a ng-href="{{edit_profile_url}}" class="edit-link"><i class="fa fa-pencil"></i> Edit Profile</a>

                <!--top full width col-->
                <div class="profile col-sm-12 col-md-12 col-xs-12">
                    <div class="col-sm-7 col-md-7 col-xs-12 account-bar">
                        <div  class="pull-left profile-pic rel">
                            <div id="user-avatar-display-image" ng-bind-html="data.user_image"></div>
                            <input type="hidden" class="noimage" value="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=150"/>
                            <input type="hidden" id="userid" value="{{ data.user_id }}"/>
                            <input type="hidden" id="_nonce" value="{{ data.delete_user_avatar_nonce }}"/>
                        </div>
                        <span class="profile-name">{{ data.user_name }}</span>
                        <span class="profile-visit">last visit {{ data.last_login }} </span>
                        <div class="">
                            <script type="text/javascript">
                                function user_avatar_refresh_image(img){
                                    jQuery('#user-avatar-display-image').html(img);
                                }
                                function add_remove_avatar_link(){
                                    /*nothing to do here, cause we are going to use our own delete link later. This function still here because of the user avatar plugin still need this*/
                                }
                            </script>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5  col-xs-12 notifications">
                        <!--<a href="/" class="new-msgs">{{ data.new_messages_count }} new messages</a>-->
                        <a ng-href="{{ data.specif_challenges }}?category=new-challenges" class="new-challenges">{{ data.new_challenges_count }} new challenges</a>
                    </div>
                </div>

                <div class="bottom-box col-sm-12 col-md-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-12 review-box text-center" style="margin-right:3%">
                        <img ng-src="{{ data.img_review }}" alt="" class="review-img img-responsive"/>
                        <p class="review-date">Member since {{ data.becoming_awesome }}</p>
                        <div class="review-challenges">
                            <a ng-href="{{ data.specif_challenges }}?category=completed" class="completed-challenges-link"><img ng-src="{{ data.img_check }}" alt="" class="check-img"/> {{ data.complete_challenges_count }} challenges completed</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 review-box text-center" style="margin-right:3%">
                        <img ng-src="{{ data.img_subscribe }}" alt="" class="review-img img-responsive"/>
                        <div ng-if="!data.is_admin">
                            <p ng-if="!data.trial && data.is_subscribed" class="review-date">Subscribed to coaching for <span class="price">${{data.billing_amount}}/{{data.expiration_period}}</span></p>
                            <div class="unsubscribe">
                                <h2 ng-if="data.trial">You use trial</h2>
                                <div ng-if="!data.is_subscribed">You can <a ng-href="{{data.link_member_levels}}" class="subscribe-link">subscribe</a></div>
                                <div ng-if="data.is_subscribed && data.trial">You can <a ng-href="{{data.link_member_levels}}" class="subscribe-link">subscribe</a></div>
                                <div ng-if="!data.trial && data.is_subscribed">You can unsubscribe<a ng-href="{{data.link_unsubscribe}}" class="subscribe-link" >here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 review-box text-center">
                        <div class="email-box"><img ng-src="{{ data.img_email }}" alt="" class="email-img img-responsive"/>
                            <span class="email-txt">{{ data.user_email }}</span></div>
                        <div class="change-info"><a ng-href="{{edit_profile_url}}" class="change-billing-info">Edit profile</a></div>
                        <div class="review-challenges">
                            <a ng-href="{{edit_profile_url}}" class="change-pass"> Change password</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 review-box text-center">
                        <div>
                            Selected challenge category: 
                            <select ng-model="selectedChallengeCategory" ng-change="changeChallengeCategory()">
                                <option ng-repeat="category in data.challenge_categories"
                                    value="{{category.term_id}}">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                        <div ng-show="isCatChanging">Retrieving...</div>
                        <div>Progress: <i>{{catProgress*100 + "%"}}</i></div> 
                        <div ng-show="catProgress==1" style="display: flex; align-items: center; justify-content: center">
                            Badge: <img src="{{catBadgeURL}}" alt="" style="max-width: 100px; max-height: 100px">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 review-box text-center">
                        <div ng-show="data.has_active_plan==1">
                            You have active subscription plan <br>
                            Subscribed via <b>{{data.plan_subscription_method}}</b>
                        </div>
                        <div ng-show="data.has_active_plan!=1">
                            You don't have active subscription plan
                            <button ng-click="showStripeModal()">Get a $5/month Plan</button>
                        </div>
                        <div ng-show="isProcessing">Processing...</div>
                        <div ng-show="justSubscribed">Thanks for subscribing!</div>
                        <div ng-show="failedToSubscribe">Something went wrong, subscription failed</div>
                    </div>
                </div>

                <!--bottom buttons-->
                <div class="col-sm-12 col-md-12 col-xs-12 align-center" style="text-align: center;">
                    <a ng-if="data.user_personality" ng-href="{{ data.quiz_results }}">
                        <button class="quiz-btn quiz-result-btn" name="">QUIZ RESULTS</button>
                    </a>
                    <a ng-href="{{ data.quiz_start }}">
                        <button class="quiz-btn quiz-result-btn" name="" id="start-quiz" ng-bind="text"></button>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>

