<div ng-controller="ChallengesController" id="ChallengesController">
    <!-- <div> -->

    <div ng-hide="isLoading">
        <div ng-if="!al_user_has_subscription">

            <div class="row container">

                <div class="col-sm-12 main-heading">

                    <h2 class="con-heading">You need to update subscription</h2>

                    <a class="main-account-link" ng-href="{{link_account_page}}">account page</a>

                </div>

            </div>

        </div>
        <div ng-if="al_user_has_subscription">

            <div ng-if="!does_user_have_a_quiz">
                <div class="content-box align-center">
                    <div>
                        <h2 class="con-heading">You need to pass quiz</h2>
                        <a ng-href="{{link_quiz_start}}">
                            <button class="quiz-btn quiz-result-btn" name="" id="start-quiz">QUIZ START</button>
                        </a>
                    </div>
                </div>
            </div>

            <div ng-if="does_user_have_a_quiz">
                <div class="content-box">
                    <div>
                        <h2 class="con-heading">ALL CHALLENGES</h2>
                        <div class="container ">
                            <div class="content-part ch-part">
                                <progress class="ChProgress" value="{{data.percentage}}" max="100"></progress>
                                <!--                             <div class="col-sm-6 col-xs-6 col-md-6 quotation ch-qt">
                                                                <div ng-if="data.isset_new_challenge_camp_id">
                                                                    <p class="quotes"><span class="quote">"</span>{{ data.qoute }}
                                                                    <p class="author-name">-{{ data.qoute_author }}</p>
                                                                </div>
                                                            </div> -->
                                <div class=" ch-sc">
                                    <p class="title">YOUR SCORE: {{data.percentage}}%</p>
                                    <!--<p class="chEl"><a ng-href="{{ data.specif_challenges_page }}?category=new-challenges">{{ data.new_challenges_count }} new challenges</a></p>-->
                                    <div class="ch-sc-block ch-sc-block-1">
                                        <p class="chEl"><a ng-href="{{ data.specif_challenges_page }}?category=completed-today">{{ data.compl_tooday_chall }} challenges completed today</a></p>
                                        <p class="chEl"><a ng-href="{{ data.specif_challenges_page }}?category=completed">{{ data.compl_chall_count }} challenges completed at all</a></p>
                                    </div>
                                    <div class="ch-sc-block ch-sc-block-2">
                                        <a ng-href="{{data.rewards_page}}" class="chEl" ng-pluralize count="data.user_entries" when="{'0' : 'no entries', 'one': '1 entry', 'other': '{} entries'}" ></a>
                                        <p class="chEl" ng-pluralize count="data.user_points" when="{'0' : 'no points', 'one': '1 Point', 'other': '{} points'}" ></p>
                                    </div>
                                </div>
                                <!--                             <div class="col-sm-1 col-xs-2 col-md-2 mGraph ch-gp">
                                                                <img ng-src="{{ data.src_waves }}" alt="" class="waves-img" />
                                                            </div> -->
                            </div>
                        </div>
                        <div class="container">
                            <h2 ng-if="data.new_challenges.length == 0" class="con-heading">No accepted challenges</h2>
                            <div ng-if="data.new_challenges">
                                <div ng-repeat="new_challenge in data.new_challenges" class="col-md-3 col-sm-3 col-xs-6 box full rel challenge-box chBox">
                                    <div class="sub-box">
                                        <span href="#" class="button fashion-btn home-fashion-btn text-center main-cat-title" ng-style="{'background-color': new_challenge.color}" name="">{{ new_challenge.main_cat_name }}</span>
                                        <div class="img-header" ng-style="{'background-image': 'url(' + new_challenge.image + ')'}">
                                        </div>
                                        <div class="desc-box msg-desc-box fix-height">
                                            <a ng-href="{{ new_challenge.permalink }}"><h3 class="msg-heading msg-head" ng-style="{'color': new_challenge.color}">{{ new_challenge.title }}</h3></a>
                                            <div class="msg-desc">{{ new_challenge.excerpt }}</div>
                                            <button ng-if="new_challenge.in_array" ng-class="{completed: new_challenge.in_array_completed}" class="challenge-button bottom-fix complete-challenge" data-message-id="{{ new_challenge.id }}"><span ng-init="text = (new_challenge.in_array_completed ? 'completed' : 'challenge complete')">{{ text }}</span></button>
                                            <!--<button ng-if="!new_challenge.in_array" class="challenge-button bottom-fix accept-challenge" data-message-id="{{ new_challenge.id }}">accept challenge</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>