<div ng-hide="isLoading">

    <div class="container padding-vertical">

        <div class="b-contact-us col-sm-4 col-xs-12 col-centered">
            <div class="b-contact-us__bg">
                <div class="b-contact-us__title">CONTACT US</div>
                <div class="b-contact-us__close" ui-sref="profile">X</div>
            </div>
            <div class="b-contact-us__form-box">
                <div class="b-contact-us__logo"><img ng-src="{{themeDir}}/img/new-design/logo.png" alt=""></div>
                <input class="b-contact-us__name-input" type="text" placeholder="Name" ng-model="inputData.name">
                <div class="b-contact-us__separator"></div>
                <input class="b-contact-us__email-input" type="text" placeholder="Email" ng-model="inputData.email">
                <div class="b-contact-us__separator"></div>
                <textarea class="b-contact-us__message-input" placeholder="Message" ng-model="inputData.text"></textarea>
                <div class="b-contact-us__send-button" ng-click="handleSendClick()">SEND</div>
            </div>
        </div>

    </div>

</div>

<div ng-show="isLoading" class="loading-indicator">Loading...</div>