<div ng-hide="isLoading">

    <div ng-if="is_user_logged_in">

        <div ng-if="al_user_has_subscription">

            <div ng-if="does_user_have_a_quiz">

                <div ng-if="isset_camp_ids_for_today">

                    <div ng-if="!is_there_new_messages">
                        <div class="content-box">
                            <div>
                                <h2 class="con-heading">Nothing new for today</h2>
                            </div>
                        </div>
                    </div>

                    <div ng-if="is_there_new_messages">
                        <div class="container content-box">
                            <div class="col-sm-12">
                                <h2 class="con-heading">HI, <span class="person-name">{{ user_name }}</span>! SEE WHAT'S NEW FOR TODAY</h2>

                                <div ng-repeat="message in new_messages" class="col-md-4 col-sm-4 col-xs-12 boxT full">
                                    <!--          coach div-->
                                    <div class="top-box">
                                        <div class="left-part coach-image" ng-style="{'background-image': 'url(' + message.coach_avatar + ')'}">

                                            <div class="coach-name">{{ message.coach_name }}</div>
                                        </div>
                                        <div class="right-part">
                                            <p class="quotes sml-quotes"><span class="quote msg-quote" ng-style="{'color': message.color  }">"</span> {{ message.coach_quote }} "</p>
                                            <p class="author-name"> {{ message.coach_quote_author }}</p>
                                        </div>
                                    </div>
                                    <!--          coach div end-->
                                    <div class="sub-box">
                                        <a href="/category/{{ message.main_cat_name }}" class="button fashion-btn home-fashion-btn text-center main-cat-title" ng-style="{'background-color': message.color }" >{{ message.main_cat_name }}</a>
                                        <div class="image" ng-style="{'background-image': 'url(' + message.last_message_img + ')'}"></div>
                                        <div class="desc-box msg-desc-box">
                                            <a href="/category/{{ message.main_cat_name }}"><h3 class="msg-heading msg-head" ng-style="{'color': message.color }">Watch out for The Most recent {{ message.name }}</h3></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div ng-if="!isset_camp_ids_for_today">

                    <div class="content-box">
                        <div>
                            <h2 class="con-heading">Nothing new for today</h2>
                        </div>
                    </div>

                </div>


            </div>

            <div ng-if="!does_user_have_a_quiz" class="">

                <div class="content-box container">
                    <div>
                        <h2 class="con-heading">You need to pass a quiz</h2>
                        <a ng-href="{{link_quiz_start_page}}">
                            <button class="quiz-btn quiz-result-btn" name="" id="start-quiz">QUIZ START</button>
                        </a>
                    </div>
                </div>
                <div class="" style="clear: both;"></div>
            <div class="container">
                <div ng-repeat="message in default_messages" class="col-md-4 col-sm-4 col-xs-12 box full">

                    <!--          coach div-->
                    <div class="top-box">
                        <div class="left-part coach-image" ng-style="{'background-image': 'url(' + message.coach_avatar + ')'}">

                            <div class="coach-name">{{ message.coach_name }}</div>
                        </div>
                        <div class="right-part">
                            <p class="quotes sml-quotes"><span class="quote msg-quote" ng-style="{'color': message.color}">"</span>{{ message.coach_quote }}"</p>
                            <p class="author-name">{{ message.coach_quote_author }}</p>
                        </div>
                    </div>
                    <!--          coach div end-->

                    <div class="sub-box">
                        <a href="{{ message.permalink }}" class="button fashion-btn home-fashion-btn text-center main-cat-title" ng-style="{'background-color': message.color}">{{ message.name }}</a>
                        <div class="image" ng-style="{'background-image': 'url(' + message.last_message_img + ')'}"></div>
                        <div class="desc-box msg-desc-box">
                            <a href="{{ message.permalink }}"><h3 class="msg-heading msg-head" ng-style="{'color': message.color}">Watch out for The Most recent {{ message.name }}</h3></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            </div>

        </div>

        <div ng-if="!al_user_has_subscription">

            <div class="row container">
                <div class="col-sm-12 main-heading">
                    <h2 class="con-heading">You need to update subscription</h2>
                    <a class="main-account-link" ng-href="{{link_account_page}}">account page</a>
                </div>
            </div>

        </div>

    </div>


    <div ng-if="!is_user_logged_in" class="bg-white">

        <!--Landing page for new users-->

        <div class="row container">
            <div class="col-sm-12 main-heading">
                Become Better Every Day<br/> With You Coached
            </div>
        </div>
        <div class="row container">
            <div class="col-sm-5 col-xs-12 center_content1">
                <a href="" class="quiz-btn open-login-form" >Take evaluation quiz</a>
                <button class="subscribe-btn open-login-form" name="subscribe-btn">Subscribe</button>
            </div>
            <div class="col-sm-7 col-xs-12 center_content2">
                <img src="/wp-content/themes/al_youcoached/img/lady.png" alt="" class="lady-image" />
            </div>
        </div>
        <div class="row container">
            <div class="col-md-12 head">WHAT WE DO</div>
        </div>
        <div class="row container">
            <div class="col-sm-12 paragraph">
                YouCoached provides expert coach messages that motivate, educate,<br/> and challenge in the areas of Style, Fitness, Interior Design,<br/> Relationships, Hair and Makeup, and Life Coaching.
            </div>
        </div>
        <div class="row container">
            <div class="col-sm-12 sub-par">
                Why? Because we believe your whole life matters.
            </div>
        </div>
        <div class="row area-box ">
            <div class="col-md-12">
                <h1 class="heading">Areas we unleash</h1>
                <div class="row container">
                    <div class="col-md-3 col-sm-3 col-xs-6 box full landing-box">
                        <div class="sub-box">
                            <button class="button fashion-btn home-fashion-btn" name="">FASHION</button>
                            <div class="image" style="background-image: url('wp-content/themes/al_youcoached/img/main_categories/fashion.png')"></div>
                            <div class="desc-box msg-desc-box">
                                <p class="msg-desc msg-descs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ddolor in reprehenderit in voluptate velit esse cillum </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 box full landing-box">
                        <div class="sub-box">
                            <button class="button fitness-btn home-fashion-btn" name="">FITNESS</button>
                            <div class="image" style="background-image: url('wp-content/themes/al_youcoached/img/main_categories/fitness.png')"></div>
                            <div class="desc-box msg-desc-box">
                                <p class="msg-desc msg-descs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ddolor in reprehenderit in voluptate velit esse cillum </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 box full landing-box">
                        <div class="sub-box">
                            <button class="button relation-btn home-relation-btn" name="">RELATIONSHIPS</button>
                            <div class="image" style="background-image: url('wp-content/themes/al_youcoached/img/main_categories/relations.png')"></div>
                            <div class="desc-box msg-desc-box">
                                <p class="msg-desc msg-descs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ddolor in reprehenderit in voluptate velit esse cillum </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 box full landing-box">
                        <div class="sub-box">
                            <button class="button lifestyle-btn home-fashion-btn" name="">LIFESTYLE COACHING</button>
                            <div class="image" style="background-image: url('wp-content/themes/al_youcoached/img/main_categories/lfst-coaching.png')"></div>
                            <div class="desc-box msg-desc-box">
                                <p class="msg-desc msg-descs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ddolor in reprehenderit in voluptate velit esse cillum </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 box full landing-box">
                        <div class="sub-box">
                            <button class="button hair-btn home-fashion-btn" name="">HAIR AND MAKEUP</button>
                            <div class="image" style="background-image: url('wp-content/themes/al_youcoached/img/main_categories/hair.png')"></div>
                            <div class="desc-box msg-desc-box">
                                <p class="msg-desc msg-descs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ddolor in reprehenderit in voluptate velit esse cillum </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 box full landing-box">
                        <div class="sub-box">
                            <button class="button fashion-btn home-fashion-btn" name="">INTERIOR DESIGN</button>
                            <div class="image" style="background-image: url('wp-content/themes/al_youcoached/img/main_categories/interior.png')"></div>
                            <div class="desc-box msg-desc-box">
                                <p class="msg-desc msg-descs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ddolor in reprehenderit in voluptate velit esse cillum </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-xs-12">
                <h2 class="heading">HOW IT WORKS</h2>
                <div class="row container">
                    <div class="col-md-4 col-sm-4 col-xs-4 evaluation">
                        <img src="/wp-content/themes/al_youcoached/img/evaluation.png" alt="" class="work-img" />
                        <h4 class="sml-headings">EVALUATE FOR FREE</h4>
                        <div class="desc">
                            Take a 10 minutes quiz to get personal recommendations
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 evaluation">
                        <img src="/wp-content/themes/al_youcoached/img/messages.png" alt="" class="work-img" />
                        <h4 class="sml-headings">MESSAGES</h4>
                        <div class="desc">
                            You will receive messages that will help you to improve your lifestyle
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 evaluation">
                        <img src="/wp-content/themes/al_youcoached/img/challenges.png" alt="" class="work-img" />
                        <h4 class="sml-headings">CHALLENGES</h4>
                        <div class="desc">
                            Set goals and achieve them to become better every day
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-divdr"></div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading">MEET OUR COACHES</h2>
                <div class="row coach-row container no_padding">
                    <div class="col-sm-4 col-xs-6 no_padding mob_res">
                        <div class="coach-box">
                            <div style="background-image: url('wp-content/themes/al_youcoached/img/coaches/coach_1.png')" alt="" class="coach-img img-responsive"></div>
                            <div class="hover-box">
                                <h1>MEET JENNY</h1>
                                <h2>FASHION COACH</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 no_padding mob_res">
                        <div class="coach-box">
                            <div style="background-image: url('wp-content/themes/al_youcoached/img/coaches/coach_2.png')" alt="" class="coach-img img-responsive"></div>
                            <div class="hover-box">
                                <h1>MEET JENNY</h1>
                                <h2>FASHION COACH</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 no_padding mob_res">
                        <div class="coach-box">
                            <div style="background-image: url('wp-content/themes/al_youcoached/img/coaches/coach_3.png')" alt="" class="coach-img img-responsive"></div>
                            <div class="hover-box">
                                <h1>MEET JENNY</h1>
                                <h2>FASHION COACH</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 no_padding mob_res">
                        <div class="coach-box">
                            <div style="background-image: url('wp-content/themes/al_youcoached/img/coaches/coach_4.png')" alt="" class="coach-img img-responsive"></div>
                            <div class="hover-box">
                                <h1>MEET JENNY</h1>
                                <h2>FASHION COACH</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 no_padding mob_res">
                        <div class="coach-box">
                            <div style="background-image: url('wp-content/themes/al_youcoached/img/coaches/coach_5.png')" alt="" class="coach-img img-responsive"></div>
                            <div class="hover-box">
                                <h1>MEET JENNY</h1>
                                <h2>FASHION COACH</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 no_padding mob_res">
                        <div class="coach-box">
                            <div style="background-image: url('wp-content/themes/al_youcoached/img/coaches/coach_6.png')" alt="" class="coach-img img-responsive"></div>
                            <div class="hover-box">
                                <h1>MEET JENNY</h1>
                                <h2>FASHION COACH</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row get-app-box container">
            <div class="col-sm-6 col-xs-12 col-md-6 lft-side">
                <img src="/wp-content/themes/al_youcoached/img/phone.png" alt="" class="phone" />
            </div>
            <div class="col-sm-6 right-side col-md-6 col-xs-12 ">
                <h2 class="headings">GET THE APP</h2>
                <div class="app-content">
                    Get free iOs or Android app<br/> and receive coaching anytime anywhere
                </div>
                <img src="/wp-content/themes/al_youcoached/img/app-store.png" alt="" class="app-store-img" /><br/><br>
                <img src="/wp-content/themes/al_youcoached/img/google-play.png" alt="" class="google-play-img" />
            </div>
        </div>
        <div class="row container">
            <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1000px; height: 451px; overflow: visible; visibility: hidden;">
                <!-- Loading Screen -->
                <!--<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                  <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                  <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>-->

                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1000px; height: 451px; overflow: hidden;" class="slides">
                    <div style="display: none;" class="resp_imgg">
                        <div data-u="image" class="slImg" style="background-image: url('wp-content/themes/al_youcoached/img/slider-image1.png')"></div>
                    </div>
                    <div style="display: none;" class="resp_imgg">
                        <div data-u="image" class="slImg" style="background-image: url('wp-content/themes/al_youcoached/img/slider-image2.png')"></div>
                    </div>
                    <div style="display: none;" class="resp_imgg">
                        <div data-u="image" class="slImg" style="background-image: url('wp-content/themes/al_youcoached/img/slider-image3.png')"></div>
                    </div>
                    <div style="display: none;" class="resp_imgg">
                        <div data-u="image" class="slImg" style="background-image: url('wp-content/themes/al_youcoached/img/slider-image1.png')"></div>
                    </div>
                    <div style="display: none;" class="resp_imgg">
                        <div data-u="image" class="slImg" style="background-image: url('wp-content/themes/al_youcoached/img/slider-image2.png')"></div>
                    </div>
                    <div style="display: none;" class="resp_imgg">
                        <div data-u="image" class="slImg" style="background-image: url('wp-content/themes/al_youcoached/img/slider-image3.png')"></div>
                    </div>
                    <a data-u="ad" href="http://www.jssor.com" style="display:none">Bootstrap Slider</a>
                </div>

                <span data-u="arrowleft" class="jssora03l" style="top:0px;left:-80px;width:55px;height:55px;" data-autocenter="2"><img src="/wp-content/themes/al_youcoached/img/arrow-left.png" /></span>
                <span data-u="arrowright" class="jssora03r" style="top:0px;right:-50px;width:55px;height:55px;" data-autocenter="2"><img src="/wp-content/themes/al_youcoached/img/arrow-right.png" /></span>
            </div>
        </div>

    </div>
</div>

