<div ng-hide="isLoading||noChallenge">

    <div ng-if="is_user_logged_in">

        <div ng-if="user_has_plan">

            <div>

                <div class="container padding-vertical">

                    <div class="l-home col-md-4 col-sm-4 col-xs-12 col-centered">
                        <div class="b-challenge b-challenge--suggestion" ng-show="challenge">
                            <div class="b-challenge__thumbnail">
                                <img ng-src="{{challenge.thumbnail_url}}" ng-if="challenge.thumbnail_url" alt="">
                            </div>
                            <div class="b-challenge__title" ui-sref="yChallenge({id: challenge.id})">{{challenge.title}}</div>
                            <div class="b-challenge__excerpt">{{challenge.excerpt}} <span class="b-challenge__more-button" ui-sref="yChallenge({id: challenge.id})">...MORE</span></div>
                            <div class="b-challenge__buttons">
                                <button ng-click="acceptClick(challenge)" class="b-challenge__accept-button">Accept</button>
                                <div class="b-challenge__pass-button-wrapper">
                                    <button ng-click="passClick(challenge)" class="b-challenge__pass-button">Pass</button>
                                </div>
                            </div>
                            <div class="b-challenge__accepted-users" ng-if="challenge.accepted_users.length">
                                <div class="b-challenge__accepted-users-number">{{challenge.accepted_users.length}}</div>
                                <div class="b-challenge__accepted-user-image" ng-repeat="user in challenge.accepted_users" ng-bind-html="user.avatarHtml"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <div ng-if="!user_has_plan">

            <div class="row container">

                <div class="col-sm-12 main-heading">

                    <h2 class="con-heading">You need to update subscription</h2>

                    <a class="main-account-link" ng-href="{{link_account_page}}">account page</a>

                </div>

            </div>

        </div>

    </div>

</div>

<div ng-show="isLoading" class="loading-indicator">Loading...</div>
<div ng-show="noChallenge" class="status-message">No new challenges</div>