<div ng-hide="isLoading">

    <div class="container padding-vertical">

        <div class="b-messages col-sm-4 col-xs-12 col-centered">
            <div class="b-messages__top-img-wrapper">
                <div class="b-messages__line b-messages__line--big-gap"></div>
                <div class="b-messages__top-img" ng-bind-html="avatarHtml"></div>
            </div>

            <div ng-repeat="(challenge, messages) in challengeMessages">
                <div class="b-messages__challenge-name">{{challenge}}</div>

                <div ng-repeat="message in messages">
                    <div class="b-message">
                        <div class="b-message__top">
                            <div class="b-message__author">{{message.comment_author}}</div>
                            <div class="b-message__date">{{message.comment_timestamp*1000 | date:'MMM dd - hh:mma'}}</div>
                        </div>
                        <div class="b-message__middle">
                            <div class="b-message__author-avatar" ng-bind-html="message.author_avatar_html"></div>
                            <div class="b-message__content">{{message.comment_content}}</div>
                        </div>
                    </div>

                    <div ng-repeat="reply in message.replies">
                        <div class="b-messages__gap"></div>
                        <div class="b-message b-message--reply">
                            <div class="b-message__top">
                                <div class="b-message__author">{{reply.comment_author}}</div>
                                <div class="b-message__date">{{reply.comment_timestamp*1000 | date:'MMM dd - hh:mma'}}</div>
                                <div class="b-message__mark" ng-click="flagComment(reply.comment_ID)"><img ng-src="{{themeDir}}/img/new-design/mark-comment.png" alt=""></div>
                            </div>
                            <div class="b-message__middle">
                                <div class="b-message__author-avatar" ng-bind-html="reply.author_avatar_html"></div>
                                <div class="b-message__content">{{reply.comment_content}}</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="b-messages__line"></div>

            </div>

            <div class="b-messages__jump-to-top">
                <img ng-src="{{themeDir}}/img/new-design/up-arrow-dark.svg" ng-click="scrollToTop()">
            </div>
        </div>

    </div>

</div>

<div ng-show="isLoading" class="loading-indicator">Loading...</div>