<div ng-controller="PageCustomController">
    <div ng-hide="isLoading">
        <div class="custom-page-container">
        <div class="container text-center">
            <h1>{{post.post_title}}</h1>

            <div ng-bind-html="raw_post"></div>
        </div>
    </div>

    </div>
</div>
