<div ng-controller="PageController">

    <div ng-bind-html="post_content"></div>

    <div class="">
        <h2 class="con-heading saved-msgs"></h2>

        <div class="row container">
            <div class="col-md-9 col-sm-9 col-xs-12 box" id="one-msg">
                <div class="sub-box">
                    <a href="" class="button fashion-btn home-fashion-btn text-center" ng-style="{'background-color': main_cat_color}" name="">{{main_cat_name}}</a>

                    <div class="desc-box msg-desc-box">
                        <h3 class="msg-heading msg-head" ng-style="{'color': main_cat_color}" >{{message_title}}</h3>

                        <p class="text-center"><img src="{{ message_image }}" alt="" class="image"/></p>

                        <p class="
                        msg-desc al-message-text" data-message-id="{{ message_id }}" data-type="{{ message_type }}" ng-bind-html="message_content"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
