<div ng-controller="CategoryController">
    <div ng-hide="isLoading">


        <div ng-if="al_user_has_subscription">

            <div ng-if="!isset_main_category">

                <div class="content-box">
                    <div class="col-sm-12">
                        <h2 class="con-heading saved-msgs">NO SUCH CATEGORY</h2>
                    </div>
                </div>

            </div>

            <div ng-if="isset_main_category">

                <div ng-if="!does_user_have_a_quiz">

                    <div class="content-box">
                        <div class="col-sm-12">
                            <h2 class="con-heading saved-msgs">You need to pass a quiz</h2>
                            <a href="#quiz-start">
                                <button class="quiz-btn quiz-result-btn " style="float: none;" name=""
                                        id="start-quiz">QUIZ START</button>
                            </a>
                        </div>
                    </div>

                </div>

                <div ng-if="does_user_have_a_quiz">

                    <div ng-if="no_message_in_this_category">

                        <div class="content-box">
                            <div class="col-sm-12">
                                <h2 class="con-heading saved-msgs">NO MESSAGES IN THIS CATEGORY</h2>
                            </div>
                        </div>

                    </div>

                    <div ng-if="empty_campaigns_from_quiz">

                        <div class="content-box">
                            <div class="col-sm-12">
                                <h2 class="con-heading saved-msgs">There is nothing new in this category for today</h2>
                            </div>
                        </div>

                    </div>

                    <div ng-if="empty_camp_ids_for_today">

                        <div class="content-box">
                            <div>
                                <h2 class="con-heading">Nothing new for today</h2>
                            </div>
                        </div>

                    </div>

                    <div ng-if="yes">

                        <div class="content-box">
                            <div class="">
                                <h2 class="con-heading saved-msgs">{{ data.main_category_name }} MESSAGES</h2>

                                <div class="container">
                                    <div class="content-part">
                                        <div class="col-md-4 col-sm-4 col-xs-5">
                                            <img ng-src="{{ data.user_avatar_fetch_avatar }}" />
                                            <div class="fname">{{ data.fname }}</div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-7 msg-quotation">
                                            <p class="chic" ng-style="{'color': data.main_category_color}"><strong class="bold-text">{{ data.category }}</strong>
                                                {{ data.body_type }}
                                            </p>

                                            <p class="quotes"><span class="quote msg-quote" ng-style="{'color': data.main_category_color}">"</span>
                                                {{ data.quote }}
                                            </p>

                                            <p class="author-name">
                                                {{ data.quote_author }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="col-sm-12 col-xs-12">
                                        <a href="{{ data.self_goals }}" class="goal-btn" name="">SET PERSONAL GOAL</a>
                                    </div>
                                </div>
                                <div class="container">

                                    <div ng-repeat="post in data.posts" class="col-md-3 col-sm-3 col-xs-6 box full rel">
                                        <div class="sub-box">

                                            <div class="img-header" ng-style="{'background-image': 'url(' + post.image_src + ')'}">
                                            </div>
                                            <div class="desc-box msg-desc-box fix-height">
                                                <a href="{{ post.the_permalink }}"><h3 class="msg-heading msg-head" ng-style="{'color': post.main_category_color}">{{ post.the_title }}</h3>
                                                </a>

                                                <p class="msg-desc">{{ post.the_excerpt }}</p>

                                                <div class="save-icon" data-message-id="{{ post.the_ID }}" ng-style="{'background-color': post.in_array_then_bg ? 'rgb(242, 186, 37)' : '#000'}">
                                                <img ng-src="{{ post.img_src }}" alt=""/>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>

            </div>

        </div>



        <div ng-if="!al_user_has_subscription">

            <div class="row container">
                <div class="col-sm-12 main-heading">
                    <h2 class="con-heading">You need to update subscription</h2>
                    <a class="main-account-link" href="#/account">account page</a>
                </div>
            </div>

        </div>



    </div>
</div>