<div ng-hide="isLoading">




    <div class="container padding-vertical">

        <div class="b-account col-md-4 col-sm-4 col-xs-12 col-centered">

            <div class="b-account__box">
                <div class="b-account__box-top-row">
                    <div class="b-account__left-col">
                        <div class="b-account__name">{{acc.user_display_name}}</div>
                        <div class="b-account__img"><img ng-src="{{acc.user_image}}"></div>
                        <div class="b-account__accepted-challenges" ui-sref="tabsController.yChallenges">
                            <img ng-src="{{themeDir}}/img/new-design/check-circle-edge.svg" alt="">
                            <span>{{acc.acc_comp_challenges_count}}</span>
                        </div>
                    </div>
                    <div class="b-account__right-col">
                        <div class="b-account__rank">
                            <div class="b-account__rank-text">
                                <div class="b-account__rank-text-top">RANK</div>
                                <div class="b-account__rank-text-bottom">master mentor</div>
                            </div>
                            <div class="b-account__rank-img"><img ng-src="{{themeDir}}/img/new-design/temp-rank.png" alt=""></div>
                        </div>
                        <div class="b-account__status">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic a dignissimos eveniet enim</div>
                    </div>
                </div>
                <div class="b-account__progress-bar-wrapper">
                    <div class="b-account__progress-bar">
                        <div class="b-account__progress-bar-comp" ng-style="{width: 100*complYChallengesInCategory/yChallengesInCategory + '%'}"></div>
                    </div>
                </div>
                <div class="b-account__badges">
                    <img class="b-account__badge" ng-repeat="badgeUrl in acc.completion_badge_urls" ng-src="{{badgeUrl}}" alt="">
                </div>
            </div>

            <div ng-if="!planInfoIsShown">
                <div class="b-account__name-input-wrapper">
                    <img class="b-account__name-input-icon" ng-src="{{themeDir}}/img/new-design/account-yellow.png" alt="">
                    <input class="b-account__name-input" type="text" ng-model="inputModels.userName" ng-blur="updateUserNameEmail()" ng-keyup="processInputKeyPress($event)">
                </div>
                <div class="b-account__email-input-wrapper">
                    <img class="b-account__email-input-icon" ng-src="{{themeDir}}/img/new-design/email-yellow.png" alt="">
                    <input class="b-account__email-input" type="text" ng-model="inputModels.userEmail" ng-blur="updateUserNameEmail()" ng-keyup="processInputKeyPress($event)">
                    <div class="b-account__private-label">PRIVATE</div>
                </div>

                <div class="b-account__iconlinks">
                    <div class="b-account__iconlink-icon"><img ng-src="{{themeDir}}/img/new-design/profile-yellow.png" alt=""></div>
                    <div class="b-account__iconlink-link" ng-click="updatePicture()">CHANGE PROFILE PIC</div>

                    <div class="b-account__iconlink-icon"><img ng-src="{{themeDir}}/img/new-design/quiz-yellow.png" alt=""></div>
                    <div class="b-account__iconlink-link">RETAKE QUIZ</div>

                    <div class="b-account__iconlink-icon"><img ng-src="{{themeDir}}/img/new-design/membership-yellow.png" alt=""></div>
                    <div class="b-account__iconlink-link" ng-click="showPlanInfo()">EDIT MEMBERSHIP</div>
                </div>

                <div class="b-account__terms-contact">
                    <div ui-sref="termsOfService">TERMS AND CONDITIONS</div>
                    <div ui-sref="contactUs">CONTACT US</div>
                </div>
            </div>

            <div ng-if="planInfoIsShown">
                <div class="b-account__plan-info" ng-if="acc.has_active_plan">
                    You are subscribed to a monthly membership for $9.99 a month
                </div>
                <div class="b-account__plan-info" ng-if="!acc.has_active_plan">
                    You don't have active subscription plan
                </div>
                <div class="b-account__plan-action-link">unsubscribe</div>
                <div class="b-account__plan-action-link">edit billing information</div>
            </div>

        </div>


    </div>

</div>

<div ng-show="isLoading" class="loading-indicator">Loading...</div>