<div ng-controller="QuizController">

    <div ng-hide="isLoading">

    <div ng-if="!al_user_has_subscription">



        <div class="row container">

            <div class="col-sm-12 main-heading">

                <h2 class="con-heading">You need to update subscription</h2>

                <a class="main-account-link" ng-href="{{account_url}}">account page</a>

            </div>

        </div>



    </div>





    <div ng-if="al_user_has_subscription">

        <div class="container ng-scope" id="ques">

            <div class="row">

                <div class="ques-box">

                    <div class="uppr-box">



                        <img ng-src="{{theme_uri}}/img/ques.png" alt="" class="grey-line">



                        <h2>Personality Questions</h2>



                        <p>Rate your answers on a scale from Disagree to Agree for each answer. Try not to answer in the <br>middle as

                            clear decisions will lead to more accurate answers</p>

                    </div>



                    <!--QUEST 1-->

                    <div class="content-bx pt-page pt-page-1 current ">

                        <p>Question 1 of 9</p>

                        <p class="quest-descr">I am a</p>

                        <div class="quiz-checkbox-div gender rel pull-left">

                            <label class="quiz-image-label gender"  ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/1/man.png)'}">

                                <input type="radio" class="checkbox-click" name="gender" value="man">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div gender rel pull-left">

                            <label class="quiz-image-label gender"  ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/1/woman.png)'}">

                                <input type="radio"   class="checkbox-click" name="gender" value="woman">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>

                        <div class="crearfix" style=" clear: both;"></div>

                    </div>

                    <!--QUEST 2-->

                    <div class="content-bx pt-page pt-page-2 ">

                        <p>Question 2 of 9</p>

                        <!--                      <p>--><!--</p>-->

                        <p class="quest-descr">Let’s discover your style. Click on all the looks you like, but be quick! You only have

                            20 seconds. Ready, set, go!</p>

                        <div ng-repeat="i in [1,2,3,4,5,6,7,8]">





                        <div class="quiz-checkbox-div style-items rel pull-left">

                            <label class="quiz-image-label fashion" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/2/bohemian_' + i + '.jpg)'}">

                                <input class="checkbox-click"  type="checkbox" name="fashion" value="fash_bohemian">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>

                        <div class="quiz-checkbox-div style-items rel pull-left">

                            <label class="quiz-image-label fashion" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/2/chic_' + i + '.jpg)'}">

                                <input class="checkbox-click"  type="checkbox" name="fashion" value="fash_chic">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>

                        <div class="quiz-checkbox-div style-items rel pull-left">

                            <label class="quiz-image-label fashion" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/2/classic_' + i + '.jpg)'}">

                                <input class="checkbox-click"  type="checkbox" name="fashion" value="fash_classic">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>

                        <div class="quiz-checkbox-div style-items rel pull-left">

                            <label class="quiz-image-label fashion" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/2/rocker_' + i + '.jpg)'}">

                                <input class="checkbox-click"  type="checkbox" name="fashion" value="fash_rocker">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>

                        <div class="quiz-checkbox-div style-items rel pull-left">

                            <label class="quiz-image-label fashion" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/2/tomboy_' + i + '.jpg)'}">

                                <input class="checkbox-click"  type="checkbox" name="fashion" value="fash_tomboy">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        </div>



                        <div class="crearfix" style=" clear: both;"></div>



                    </div>







                    <!--QUEST 3-->

                    <div class="content-bx pt-page pt-page-3 ">

                        <p>Question 3 of 9</p>

                        <p class="quest-descr">Choose the shape that best describes your body.</p>



                        <div class="quiz-checkbox-div body-type rel pull-left">

                            <label class="quiz-image-label body-type" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/3/rectangle.png)'}">

                                <input class="checkbox-click" type="radio" name="body_type" value="rectangle">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div body-type rel pull-left">

                            <label class="quiz-image-label body-type" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/3/round.png)'}">

                                <input class="checkbox-click" type="radio" name="body_type" value="round">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div body-type rel pull-left">

                            <label class="quiz-image-label body-type" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/3/hourglass.png)'}">

                                <input type="radio" class="checkbox-click" name="body_type" value="hourglass">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div body-type rel pull-left">

                            <label class="quiz-image-label body-type" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/3/inverted-triangle.png)'}">

                                <input class="checkbox-click" type="radio" name="body_type" value="inverted-triangle">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div body-type rel pull-left">

                            <label class="quiz-image-label body-type" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/3/pear.png)'}">

                                <input class="checkbox-click" type="radio" name="body_type" value="pear">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="crearfix" style=" clear: both;"></div>

                    </div>







                    <!--QUEST 4-->

                    <div class="content-bx pt-page pt-page-4 ">

                        <p>Question 4 of 9</p>



                        <p class="quest-descr">Choose the picture that best describes your current relationship status</p>



                        <div class="quiz-checkbox-div relationships rel pull-left">

                            <label class="quiz-image-label relationships" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/4/single.png)'}">

                                <input class="checkbox-click" type="radio" name="relationships" value="single">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div relationships rel pull-left">

                            <label class="quiz-image-label relationships" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/4/new-relationship.png)'}">

                                <input class="checkbox-click" type="radio" name="relationships" value="new-relationship">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div relationships rel pull-left">

                            <label class="quiz-image-label relationships" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/4/long-term-relationship.png)'}">

                                <input class="checkbox-click" type="radio" name="relationships" value="long-term-relationship">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div relationships rel pull-left">

                            <label class="quiz-image-label relationships" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/4/loss-of-relationship.png)'}">

                                <input class="checkbox-click" type="radio" name="relationships" value="loss-of-relationship">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>





                        <div class="crearfix" style=" clear: both;"></div>



                    </div>







                    <!--QUEST 5-->

                    <div class="content-bx pt-page pt-page-5 ">

                        <p>Question 5 of 9</p>

                        <p class="quest-descr">Choose the picture that best describes the type of health and fitness training you’d like to receive</p>





                        <div class="quiz-checkbox-div fitness-quiz-box rel pull-left">

                            <label class="quiz-image-label fitness" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/5/weight-loss.jpg)'}">

                                <input class="checkbox-click" type="radio" name="fitness" value="weight-loss">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div fitness-quiz-box rel pull-left">

                            <label class="quiz-image-label fitness" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/5/lean-and-tone.jpg)'}">

                                <input class="checkbox-click" type="radio" name="fitness" value="lean-and-tone">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div fitness-quiz-box rel pull-left">

                            <label class="quiz-image-label fitness" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/5/firm-and-fit.jpg)'}">

                                <input class="checkbox-click" type="radio" name="fitness" value="firm-and-fit">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <!--<div class="quiz-checkbox-div fitness-quiz-box rel pull-left">-->

                            <!--<label class="quiz-image-label fitness" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/5/healthy-living.jpg)'}">-->

                                <!--<input class="checkbox-click" type="radio" name="fitness" value="healthy-living">-->

                            <!--</label>-->

                            <!--<div class="checkbox abs"></div>-->

                        <!--</div>-->



                        <div class="crearfix" style=" clear: both;"></div>

                    </div>







                    <!--QUEST 6-->

                    <div class="content-bx pt-page pt-page-6 ">

                        <p>Question 6 of 9</p>

                        <p class="quest-descr">Help us discover your design style. Click on all the looks that you like. To get the

                            best results, do this fast and don’t overthink.</p>

                        <div ng-repeat="i in [1,2,3,4,5,6,7,8]">

                            <div class="quiz-checkbox-div style-items rel pull-left">

                                <label class="quiz-image-label interior-design" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/6/bohemian_' + i + '.jpg)'}">

                                    <input class="checkbox-click" type="checkbox" name="interior_design" value="des_bohemian">



                                </label>

                                <div class="checkbox abs"></div>

                            </div>



                            <div class="quiz-checkbox-div style-items rel pull-left">

                                <label class="quiz-image-label interior-design" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/6/modern_' + i + '.jpg)'}">

                                    <input class="checkbox-click" type="checkbox" name="interior_design" value="des_modern">



                                </label>

                                <div class="checkbox abs"></div>

                            </div>



                            <div class="quiz-checkbox-div style-items rel pull-left">

                                <label class="quiz-image-label interior-design" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/6/rustic_' + i + '.jpg)'}">

                                    <input class="checkbox-click" type="checkbox" name="interior_design" value="des_rustic_farmhouse">



                                </label>

                                <div class="checkbox abs"></div>

                            </div>



                            <div class="quiz-checkbox-div style-items rel pull-left">

                                <label class="quiz-image-label interior-design" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/6/industrial_' + i + '.jpg)'}">

                                    <input class="checkbox-click" type="checkbox" name="interior_design" value="des_industrial_urban">



                                </label>

                                <div class="checkbox abs"></div>

                            </div>

                        </div>



                        <div class="crearfix" style=" clear: both;"></div>

                    </div>





                    <!--QUEST 7-->

                    <div class="content-bx pt-page pt-page-7 ">

                        <p>Question 7 of 9</p>



                        <p class="quest-descr">Choose the color that is closest to your skin tone.</p>





                        <div class="quiz-checkbox-div skin rel pull-left">

                            <label class="quiz-image-label skin" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/7/light.jpg)'}">

                                <input class="checkbox-click" type="radio" name="skin_tone" value="light">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div skin rel pull-left">

                            <label class="quiz-image-label skin" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/7/medium.jpg)'}">

                                <input class="checkbox-click" type="radio" name="skin_tone" value="medium">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div skin rel pull-left">

                            <label class="quiz-image-label skin" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/7/dark.jpg)'}">

                                <input class="checkbox-click" type="radio" name="skin_tone" value="dark">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <!--<div class="quiz-checkbox-div skin rel pull-left">-->

                            <!--<label class="quiz-image-label skin" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/7/olive.png)'}">-->

                                <!--<input class="checkbox-click" type="radio" name="makeup" value="olive">-->



                            <!--</label>-->

                            <!--<div class="checkbox abs"></div>-->

                        <!--</div>-->

                        <div class="crearfix" style=" clear: both;"></div>

                    </div>







                    <!--QUEST 8-->

                    <div class="content-bx pt-page pt-page-8 ">

                        <p>Question 8 of 9</p>

                        <p class="quest-descr">Choose the wave pattern that is closest to your hair type.</p>





                        <div class="quiz-checkbox-div hair rel pull-left">

                            <label class="quiz-image-label hair" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/8/straight.png)'}">

                                <input class="checkbox-click" type="radio" name="hair" value="straight">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div hair rel pull-left">

                            <label class="quiz-image-label hair" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/8/wavy.png)'}">

                                <input class="checkbox-click" type="radio" name="hair" value="wavy">

                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="quiz-checkbox-div hair rel pull-left">

                            <label class="quiz-image-label hair" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/8/defined-curly.png)'}">

                                <input class="checkbox-click" type="radio" name="hair" value="defined-curly">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>

                        <div class="quiz-checkbox-div hair rel pull-left">

                            <label class="quiz-image-label hair" ng-style="{'background-image': 'url(' + theme_uri + '/img/quiz_questions/8/spiral-curl.png)'}">

                                <input class="checkbox-click" type="radio" name="hair" value="spiral-curl">



                            </label>

                            <div class="checkbox abs"></div>

                        </div>



                        <div class="crearfix" style=" clear: both;"></div>



                    </div>





                    <!--QUEST 9-->



                    <div class="content-bx pt-page pt-page-8 ">

                        <p>Question 9 of 10</p>

                        <p class="quest-descr">Pluck out a piece of your hair. We’re serious. Now rub it between your thumb and

                            finger. How does it feel?</p>



                        <input class="checkbox-click" type="radio" id="radio26" name="hair_type" value="qual-fine">

                        <label for="radio26">I don’t feel anything.</label>



                        <input class="checkbox-click" type="radio" id="radio27" name="hair_type" value="qual-medium">

                        <label for="radio27">I feel the hair.</label>



                        <input class="checkbox-click" type="radio" id="radio28" name="hair_type" value="qual-coarse">

                        <label for="radio28">I feel the hair and it’s strong and thick.</label>

                    </div>



                    <!--QUEST 10-->

                    <div class="content-bx pt-page test-personality">



                        <p>Question 10 of 10</p>



                        <p class="quest-descr">There are 32 pairs of personality descriptions connected by a scale. For each pair you must choose where on the scale between them you think you are. For example, if the pair is "angry" versus "calm", you should slide the scale all the way to angry if you are always angry, and halfway if you are sometimes angry."</p>

                        <div class="row">

                            <div class="col-sm-5 quest-text text-right"> <p>makes lists</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q1V1" name="Q1" value="1">1</label>

                                <label><input type="radio" id="Q1V2" name="Q1" value="2">2</label>

                                <label><input type="radio" id="Q1V3" name="Q1" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q1V4" name="Q1" value="4">4</label>

                                <label><input type="radio" id="Q1V5" name="Q1" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>relies on memory</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>sceptical</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q2V1" name="Q2" value="1">1</label>

                                <label><input type="radio" id="Q2V2" name="Q2" value="2">2</label>

                                <label><input type="radio" id="Q2V3" name="Q2" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q2V4" name="Q2" value="4">4</label>

                                <label><input type="radio" id="Q2V5" name="Q2" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>wants to believe</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>bored by time alone</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q3V1" name="Q3" value="1">1</label>

                                <label><input type="radio" id="Q3V2" name="Q3" value="2">2</label>

                                <label><input type="radio" id="Q3V3" name="Q3" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q3V4" name="Q3" value="4">4</label>

                                <label><input type="radio" id="Q3V5" name="Q3" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>needs time alone</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>accepts things as they are</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q4V1" name="Q4" value="1">1</label>

                                <label><input type="radio" id="Q4V2" name="Q4" value="2">2</label>

                                <label><input type="radio" id="Q4V3" name="Q4" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q4V4" name="Q4" value="4">4</label>

                                <label><input type="radio" id="Q4V5" name="Q4" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>unsatisfied with the ways things are</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>keeps a clean room</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q5V1" name="Q5" value="1">1</label>

                                <label><input type="radio" id="Q5V2" name="Q5" value="2">2</label>

                                <label><input type="radio" id="Q5V3" name="Q5" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q5V4" name="Q5" value="4">4</label>

                                <label><input type="radio" id="Q5V5" name="Q5" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>just puts stuff where ever</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>thinks "robotic" is an insult</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q6V1" name="Q6" value="1">1</label>

                                <label><input type="radio" id="Q6V2" name="Q6" value="2">2</label>

                                <label><input type="radio" id="Q6V3" name="Q6" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q6V4" name="Q6" value="4">4</label>

                                <label><input type="radio" id="Q6V5" name="Q6" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>strives to have a mechanical mind</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>energetic</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q7V1" name="Q7" value="1">1</label>

                                <label><input type="radio" id="Q7V2" name="Q7" value="2">2</label>

                                <label><input type="radio" id="Q7V3" name="Q7" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q7V4" name="Q7" value="4">4</label>

                                <label><input type="radio" id="Q7V5" name="Q7" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>mellow</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>prefer to take multiple choice test</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q8V1" name="Q8" value="1">1</label>

                                <label><input type="radio" id="Q8V2" name="Q8" value="2">2</label>

                                <label><input type="radio" id="Q8V3" name="Q8" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q8V4" name="Q8" value="4">4</label>

                                <label><input type="radio" id="Q8V5" name="Q8" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>prefer essay answers</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>chaotic</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q9V1" name="Q9" value="1">1</label>

                                <label><input type="radio" id="Q9V2" name="Q9" value="2">2</label>

                                <label><input type="radio" id="Q9V3" name="Q9" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q9V4" name="Q9" value="4">4</label>

                                <label><input type="radio" id="Q9V5" name="Q9" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>organized</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>easily hurt</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q10V1" name="Q10" value="1">1</label>

                                <label><input type="radio" id="Q10V2" name="Q10" value="2">2</label>

                                <label><input type="radio" id="Q10V3" name="Q10" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q10V4" name="Q10" value="4">4</label>

                                <label><input type="radio" id="Q10V5" name="Q10" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>thick-skinned</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>works best in groups</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q11V1" name="Q11" value="1">1</label>

                                <label><input type="radio" id="Q11V2" name="Q11" value="2">2</label>

                                <label><input type="radio" id="Q11V3" name="Q11" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q11V4" name="Q11" value="4">4</label>

                                <label><input type="radio" id="Q11V5" name="Q11" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>works best alone</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>focused on the present</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q12V1" name="Q12" value="1">1</label>

                                <label><input type="radio" id="Q12V2" name="Q12" value="2">2</label>

                                <label><input type="radio" id="Q12V3" name="Q12" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q12V4" name="Q12" value="4">4</label>

                                <label><input type="radio" id="Q12V5" name="Q12" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>focused on the future</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>plans far ahead</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q13V1" name="Q13" value="1">1</label>

                                <label><input type="radio" id="Q13V2" name="Q13" value="2">2</label>

                                <label><input type="radio" id="Q13V3" name="Q13" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q13V4" name="Q13" value="4">4</label>

                                <label><input type="radio" id="Q13V5" name="Q13" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>plans at the last minute</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>wants people's respect</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q14V1" name="Q14" value="1">1</label>

                                <label><input type="radio" id="Q14V2" name="Q14" value="2">2</label>

                                <label><input type="radio" id="Q14V3" name="Q14" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q14V4" name="Q14" value="4">4</label>

                                <label><input type="radio" id="Q14V5" name="Q14" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>wants their love</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>gets worn out by parties</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q15V1" name="Q15" value="1">1</label>

                                <label><input type="radio" id="Q15V2" name="Q15" value="2">2</label>

                                <label><input type="radio" id="Q15V3" name="Q15" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q15V4" name="Q15" value="4">4</label>

                                <label><input type="radio" id="Q15V5" name="Q15" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>gets fired up by parties</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>fits in</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q16V1" name="Q16" value="1">1</label>

                                <label><input type="radio" id="Q16V2" name="Q16" value="2">2</label>

                                <label><input type="radio" id="Q16V3" name="Q16" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q16V4" name="Q16" value="4">4</label>

                                <label><input type="radio" id="Q16V5" name="Q16" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>stands out</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>keeps options open</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q17V1" name="Q17" value="1">1</label>

                                <label><input type="radio" id="Q17V2" name="Q17" value="2">2</label>

                                <label><input type="radio" id="Q17V3" name="Q17" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q17V4" name="Q17" value="4">4</label>

                                <label><input type="radio" id="Q17V5" name="Q17" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>commits</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>wants to be good at fixing things</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q18V1" name="Q18" value="1">1</label>

                                <label><input type="radio" id="Q18V2" name="Q18" value="2">2</label>

                                <label><input type="radio" id="Q18V3" name="Q18" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q18V4" name="Q18" value="4">4</label>

                                <label><input type="radio" id="Q18V5" name="Q18" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>wants to be good at fixing people</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>talks more</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q19V1" name="Q19" value="1">1</label>

                                <label><input type="radio" id="Q19V2" name="Q19" value="2">2</label>

                                <label><input type="radio" id="Q19V3" name="Q19" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q19V4" name="Q19" value="4">4</label>

                                <label><input type="radio" id="Q19V5" name="Q19" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>listens more</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>when describing an event, will tell people what happened</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q20V1" name="Q20" value="1">1</label>

                                <label><input type="radio" id="Q20V2" name="Q20" value="2">2</label>

                                <label><input type="radio" id="Q20V3" name="Q20" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q20V4" name="Q20" value="4">4</label>

                                <label><input type="radio" id="Q20V5" name="Q20" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>when describing an event, will tell people what it meant</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>gets work done right away</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q21V1" name="Q21" value="1">1</label>

                                <label><input type="radio" id="Q21V2" name="Q21" value="2">2</label>

                                <label><input type="radio" id="Q21V3" name="Q21" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q21V4" name="Q21" value="4">4</label>

                                <label><input type="radio" id="Q21V5" name="Q21" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>procrastinates</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>follows the heart</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q22V1" name="Q22" value="1">1</label>

                                <label><input type="radio" id="Q22V2" name="Q22" value="2">2</label>

                                <label><input type="radio" id="Q22V3" name="Q22" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q22V4" name="Q22" value="4">4</label>

                                <label><input type="radio" id="Q22V5" name="Q22" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>follows the head</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>stays at home</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q23V1" name="Q23" value="1">1</label>

                                <label><input type="radio" id="Q23V2" name="Q23" value="2">2</label>

                                <label><input type="radio" id="Q23V3" name="Q23" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q23V4" name="Q23" value="4">4</label>

                                <label><input type="radio" id="Q23V5" name="Q23" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>goes out on the town</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>wants the big picture</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q24V1" name="Q24" value="1">1</label>

                                <label><input type="radio" id="Q24V2" name="Q24" value="2">2</label>

                                <label><input type="radio" id="Q24V3" name="Q24" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q24V4" name="Q24" value="4">4</label>

                                <label><input type="radio" id="Q24V5" name="Q24" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>wants the details</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>improvises</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q25V1" name="Q25" value="1">1</label>

                                <label><input type="radio" id="Q25V2" name="Q25" value="2">2</label>

                                <label><input type="radio" id="Q25V3" name="Q25" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q25V4" name="Q25" value="4">4</label>

                                <label><input type="radio" id="Q25V5" name="Q25" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>prepares</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>bases morality on justice</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q26V1" name="Q26" value="1">1</label>

                                <label><input type="radio" id="Q26V2" name="Q26" value="2">2</label>

                                <label><input type="radio" id="Q26V3" name="Q26" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q26V4" name="Q26" value="4">4</label>

                                <label><input type="radio" id="Q26V5" name="Q26" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>bases morality on compassion</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>finds it difficult to yell very loudly</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q27V1" name="Q27" value="1">1</label>

                                <label><input type="radio" id="Q27V2" name="Q27" value="2">2</label>

                                <label><input type="radio" id="Q27V3" name="Q27" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q27V4" name="Q27" value="4">4</label>

                                <label><input type="radio" id="Q27V5" name="Q27" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>yelling to others when they are far away comes naturally</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>theoretical</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q28V1" name="Q28" value="1">1</label>

                                <label><input type="radio" id="Q28V2" name="Q28" value="2">2</label>

                                <label><input type="radio" id="Q28V3" name="Q28" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q28V4" name="Q28" value="4">4</label>

                                <label><input type="radio" id="Q28V5" name="Q28" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>empirical</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>works hard</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q29V1" name="Q29" value="1">1</label>

                                <label><input type="radio" id="Q29V2" name="Q29" value="2">2</label>

                                <label><input type="radio" id="Q29V3" name="Q29" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q29V4" name="Q29" value="4">4</label>

                                <label><input type="radio" id="Q29V5" name="Q29" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>plays hard</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>uncomfortable with emotions</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q30V1" name="Q30" value="1">1</label>

                                <label><input type="radio" id="Q30V2" name="Q30" value="2">2</label>

                                <label><input type="radio" id="Q30V3" name="Q30" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q30V4" name="Q30" value="4">4</label>

                                <label><input type="radio" id="Q30V5" name="Q30" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>values emotions</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>likes to perform in front of other people</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q31V1" name="Q31" value="1">1</label>

                                <label><input type="radio" id="Q31V2" name="Q31" value="2">2</label>

                                <label><input type="radio" id="Q31V3" name="Q31" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q31V4" name="Q31" value="4">4</label>

                                <label><input type="radio" id="Q31V5" name="Q31" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>avoids public speaking</p></div>





                            <div class="col-sm-5 quest-text text-right"> <p>likes to know "who?", "what?", "when?"</p></div>

                            <div class="col-sm-2 question">

                                <label><input type="radio" id="Q32V1" name="Q32" value="1">1</label>

                                <label><input type="radio" id="Q32V2" name="Q32" value="2">2</label>

                                <label><input type="radio" id="Q32V3" name="Q32" value="3" checked="checked">3</label>

                                <label><input type="radio" id="Q32V4" name="Q32" value="4">4</label>

                                <label><input type="radio" id="Q32V5" name="Q32" value="5">5</label>

                            </div>

                            <div class="col-sm-5 quest-text text-left"> <p>likes to know "why?"</p></div>



                        </div>

                    </div>

                    <div class="padding-buttons">

                        <span class="nxt-link" style="float: left;" id="prev">PREV</span>

                        <span class="nxt-link" id="next">NEXT</span>

                        <div class="clearfix" style="height: 40px;"></div>

                    </div>

                </div>

                <script>

                    window.radioToSlider();

                </script>

            </div>

        </div>

    </div>

</div>

</div>