<div ng-controller="QuizResultsController">
    <div ng-hide="isLoading">        <!--<div ng-if="!al_user_has_subscription">-->
        <!--<div class="row container">-->        <!--<div class="col-sm-12 main-heading">-->
        <!--<h2 class="con-heading">You need to update subscription</h2>-->
        <!--<a class="main-account-link" ng-href="{{account_url}}">account page</a>-->        <!--</div>-->
        <!--</div>-->        <!--</div>-->
        <div ng-if="does_user_have_a_quiz">
            <div class="content-box">
                <div class="container">
                    <div class="col-md-3 col-xs-12">
                        <div ng-if="data.user_selfie_badge" class="selfie-badge-container">
                            <!--<h3>My selfie badge</h3>-->
                            <img ng-src="{{data.user_selfie_badge}}" alt="">
                            <!--<h3>Share selfie badge</h3>-->
                            <iframe ng-src="{{ data.iframe_url }}" width="250" height="40" style="border:none;overflow:hidden; margin-top: 10px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9 col-xs-12 quiz-head">
                        <div class="top-content-row">
                            <!--<img ng-src="{{me_icon_src}}" alt="" class="profile-img"/>-->
                            <div class="profile-img" ng-bind-html="data.user_image"></div>
                            <div class="right-content"><h4 class="per-name">I AM <span style="color:#f4be34;">{{data.personality}}</span>
                            </h4>
                                <p class="command "
                                   ng-click="show_read_more('personality','personality', data.user_personality_readmore);">
                                    <span class="read-more-link">Read more</span> about personality type '{{
                                    data.personality }}'</p></div>
                            <div class="param" ng-bind-html="data.quiz_personality | html"></div>

                        </div>
                    </div>
                    <div ng-repeat="post in data.res" ng-class="post.class" class="col-sm-4 col-xs-6 quiz-box"><a
                            href ng-click="show_read_more(post.class,post.header,post.read_more);" class="button fashion-btn"
                            ng-style="{'background-color': post.color}">{{post.header}}</a> <img ng-src="{{post.image}}"
                                                                                                 alt=""
                                                                                                 class="image hover-bigger"
                                                                                                 ng-click="show_read_more(post.class,post.header,post.read_more);"/>
                        <h3 class="msg-heading" ng-style="{'color': post.color}">{{post.name}}</h3></div>
                    <div class="col-sm-4 col-xs-6 quiz-box lifestyle-coaching"><a href="" ng-click="show_read_more('lifestyle-coaching','LIFESTYLE COACHING',lifestyle);"
                                                                                  class="button lifestyle-btn lifestyle-quiz-btn"
                                                                                  name="">LIFESTYLE COACHING</a> <img
                            ng-src="{{src_life_style_result}}" alt="" class="image hover-bigger"
                            ng-click="show_read_more('lifestyle-coaching','LIFESTYLE COACHING',lifestyle);"/>
                        <h3 class="msg-heading code-head">RESULTS</h3></div>
                    <!--<div class="col-sm-4 col-xs-6 quiz-box hair-and-makeup">-->
                    <!--<a href="" class="button hair-btn" name="">HAIR AND MAKEUP</a>-->
                    <!--<img ng-src="{{src_hair_and_makeup_chic_result}}" alt="" class="image hover-bigger" />-->
                    <!--<h3 class="msg-heading style-head">CHIC</h3>-->                    <!--</div>-->
                </div>
                <div class="btn-box">
                    <!--    <button class="lifestyle-btn sub-coaching-btn" id="modal" style="margin:auto; display:table;" onclick="return test();">SUBSCRIBE FOR COACHING</button>-->                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="button fashion-btn popup-fashion-btn" name="">FASHION</button>
                                <h2 class="msg-heading popup-main-heading">Chquiz_results/ick Style</h2></div>
                            <div class="modal-body"><p>A person who has chic style is someone who thinks independently
                                about fashion. She is confident and self aware to know what looks good on her. She
                                adapts fashion to her style, not the other way round. She doesn't like to be showy or
                                obvious, she likes to keep a little mystery, and by that way, she unknowingly keeps
                                everyone guessing!</p>
                                <p>She embraces change at the right time and not one to sport the same hairstyle for the
                                    next couple of decades. She is fresh, exciting and passionate yet comfortable in her
                                    own skin. She likes to reinvent herself when she feels she needs a change.</p>
                                <h3 class="msg-heading">CHICK MUST HAVES <br/><img ng-src="{{src_sample_result}}"/></h3>
                            </div>
                            <div class="modal-footer"><img ng-src="{{src_ferry_result}}" alt=""
                                                           class="coach-popup-img"/>
                                <div class="popup-right"><h4>MEET YOUR STYLE COACH</h4>
                                    <h3 class="msg-heading">AMANDA FERRY</h3>
                                    <button class="subscribe-btn popup-btn" name="">SUBSCRIBE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!does_user_have_a_quiz">
            <div class="content-box">
                <div class="container">
                    <div class="col-sm-9 col-xs-12 quiz-head">
                        <div class="top-content-row">
                            <div class="text-center"><h4 class="per-name">You need to pass a quiz</h4></div>
                            <a href="#quiz-start" class="button-yellow margin-auto">START QUIZ</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>