<div ng-controller="RewardsController" ng-cloak id="RewardsController">
    <div ng-hide="isLoading">

        <div ng-if="!al_user_has_subscription">

            <div class="row container">

                <div class="col-sm-12 main-heading">

                    <h2 class="con-heading">You need to update subscription</h2>

                    <a class="main-account-link" ng-href="{{link_account_page}}">account page</a>

                </div>

            </div>

        </div>

        <div ng-if="al_user_has_subscription">
            <div class="content-box rewards">

                <div class="container">
                    <div class="container ">
                        <div class="content-part ch-part">
                            <div class="col-sm-12 quotation ch-qt">
                                <p>For every 100 points you earn from challenges you'll receive 10 Reward entries. You can spend an entry by clicking
                                'Add Entry' on a reward. The more entries you have in a reward, the higher your chance of winning!</p>
                                <br>

                                <p>You have
                                    <span ng-if="data.user_entries != undefined" ng-pluralize count="data.user_entries"
                                          when="{'0' : 'no entries', 'one': '1 entry', 'other': '{} entries'}"></span>
                                    <span ng-if="data.user_entries === ''"> no entries yet</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h2 ng-if="posts.lenght==0" class="con-heading">No Rewards</h2>

                    <div ng-if="posts.lenght!=0">
                        <h2 class="con-heading">ALL REWARDS</h2>


                        <div ng-repeat="post in data.posts" class="col-md-3 col-sm-3 col-xs-6 box full rel challenge-box">
                            <div class="sub-box">
                                <span class="button top rewrads-btn al-pointer home-fashion-btn text-center main-cat-title"
                                      ng-bind="post.post_title"></span>
                                <span class="entr-in-rew">{{post.applied_count}}</span>
                                <div class="img-header al-pointer"
                                     ng-style="{'background-image': 'url(' + post.image_src + ')'}"
                                     ng-click="show_read_more(post.post_title,post.post_content);"></div>
                                <div class="desc-box msg-desc-box fix-height">
                                    <p class="msg-desc al-pointer"></p>

                                    <button ng-attr-data-id="{{post.ID}}" ng-disabled="!data.user_entries"
                                            class="bottom-fix select rewards-button">Add Entry
                                    </button>
                                </div>
                                <div class="save-icon" ng-if="post.in_array_then_bg !== 'default_message'"
                                     data-message-id="{{ post.ID }}"
                                     ng-style="{'background-color': post.in_array_then_bg === true ? 'rgb(242, 186, 37)' : '#000'}">
                                    <img ng-src="{{ post.img_src }}" alt=""/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <script>

                    </script>

                </div>

            </div>
        </div>

    </div>
</div>