<div ng-controller="SpecifChallengesController">
    <div ng-hide="isLoading">
        <div ng-if="!al_user_has_subscription">

            <div class="row container">

                <div class="col-sm-12 main-heading">

                    <h2 class="con-heading">You need to update subscription</h2>

                    <a class="main-account-link" ng-href="{{link_account_page}}">account page</a>

                </div>

            </div>

        </div>

        <div ng-if="al_user_has_subscription">

            <div ng-if="data.status=='no_new_challenges'"><h2 class="con-heading">No new challenges </h2></div>
            <div ng-if="data.status=='you_need_to_pass_quiz'">
                <div class="content-box">
                    <div class="need-to-pass-section">
                        <h2 class="con-heading">You need to pass quiz </h2>
                        <a href="#quiz-start">
                            <button ng-if="text = (data.flag ? 'RETAKE QUIZ' : 'START QUIZ')" class="quiz-btn quiz-result-btn"
                                    name="" id="start-quiz">{{ text }}
                            </button>
                        </a></div>
                </div>
            </div>
            <div ng-if="data.status=='no_challenges'">
                <div class="content-box">
                    <div><h2 class="con-heading">No challenges</h2></div>
                </div>
            </div>
            <div ng-if="data.status=='no_challenges_with_category'">
                <div class="content-box">
                    <div><h2 class="con-heading">No challenges {{ data.category }}</h2></div>
                </div>
            </div>
            <div ng-if="data.status=='completed'">
                <div class="content-box">
                    <div><h2 class="con-heading">{{ data.category }}</h2>
                        <div class="container">
                            <div ng-repeat="post in data.posts" class="col-md-3 col-sm-3 col-xs-6 box full rel challenge-box">
                                <div class="sub-box">
                                    <a ng-href="{{ post.the_permalink }}" class="button fashion-btn home-fashion-btn text-center main-cat-title" ng-style="{'background-color': '#'+post.main_cat_color}" name="">{{ post.main_cat_name }}</a>
                                    <div class="img-header" ng-style="{'background-image': 'url(' + post.image_src + ')'}">
                                    </div>
                                    <div class="desc-box msg-desc-box fix-height"><a ng-href="{{ post.the_permalink }}"><h3
                                            class="msg-heading msg-head" ng-style="{'color': '#'+post.main_cat_color}" ng-bind-html="post.the_title | html"></h3></a>
                                        <p class="msg-desc">{{ post.the_excerpt }}</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="data.status=='no_completed'">
                <div class="content-box">
                    <div><h2 class="con-heading">{{ data.title }}</h2>
                        <div class="container">
                            <div ng-repeat="post in data.posts" class="col-md-3 col-sm-3 col-xs-6 box full rel challenge-box">
                                <div class="sub-box">
                                    <a ng-href="{{ post.the_permalink }}" class="button fashion-btn home-fashion-btn text-center main-cat-title" ng-style="{'background-color': '#'+post.main_cat_color}" name="">{{ post.main_cat_name }}</a>
                                    <div class="img-header" ng-style="{'background-image': 'url(' + post.image_src + ')'}">
                                        <img class="new-icon" ng-src="{{newIcon}}" alt="new">
                                    </div>
                                    <div class="desc-box msg-desc-box fix-height">
                                        <a ng-href="{{ post.the_permalink }}">
                                            <h3 class="msg-heading msg-head" ng-style="{'color': '#'+post.main_cat_color}" ng-bind-html="post.post_title | html"></h3>
                                        </a>
                                        <p class="msg-desc">{{ post.the_excerpt }}</p>
                                        <button class="challenge-button bottom-fix accept-challenge"
                                                data-message-id="{{ post.the_ID }}">accept challenge
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>