<div ng-hide="isLoading">

    <div class="container padding-vertical">

        <div class="b-tos col-sm-4 col-xs-12 col-centered">
            <div class="b-tos__top">
                <div class="b-tos__title"><span>TERMS OF SERVICE</span></div>
                <div class="b-tos__close" ui-sref="profile">X</div>
            </div>
            <div class="b-tos__content">
                <p>
                    YOUCOACHED, llc <br> Privacy Policy <br> Last modified: July 30, 2017
                </p>
                <p>
                    Introduction
                </p>
                <p>
                    YouCoached LLC ("We", "Company", or "YouCoached") operates the YouCoached.com website (the "Website"). Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Perferendis totam nesciunt eligendi praesentium, quam atque ex
                    eos magni nemo eius aliquid recusandae voluptatibus molestias accusamus architecto, aliquam, quaerat
                    rem ullam ipsam hic ratione! Sequi, aliquam. Amet dolorem perferendis a veritatis similique nam odio
                    commodi, repudiandae ipsa aperiam quasi iusto mollitia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis totam nesciunt eligendi praesentium, quam atque ex
                    eos magni nemo eius aliquid recusandae voluptatibus molestias accusamus architecto, aliquam, quaerat
                    rem ullam ipsam hic ratione! Sequi, aliquam. Amet dolorem perferendis a veritatis similique nam odio
                    commodi, repudiandae ipsa aperiam quasi iusto mollitia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis totam nesciunt eligendi praesentium, quam atque ex
                    eos magni nemo eius aliquid recusandae voluptatibus molestias accusamus architecto, aliquam, quaerat
                    rem ullam ipsam hic ratione! Sequi, aliquam. Amet dolorem perferendis a veritatis similique nam odio
                    commodi, repudiandae ipsa aperiam quasi iusto mollitia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis totam nesciunt eligendi praesentium, quam atque ex
                    eos magni nemo eius aliquid recusandae voluptatibus molestias accusamus architecto, aliquam, quaerat
                    rem ullam ipsam hic ratione! Sequi, aliquam. Amet dolorem perferendis a veritatis similique nam odio
                    commodi, repudiandae ipsa aperiam quasi iusto mollitia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis totam nesciunt eligendi praesentium, quam atque ex
                    eos magni nemo eius aliquid recusandae voluptatibus molestias accusamus architecto, aliquam, quaerat
                    rem ullam ipsam hic ratione! Sequi, aliquam. Amet dolorem perferendis a veritatis similique nam odio
                    commodi, repudiandae ipsa aperiam quasi iusto mollitia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis totam nesciunt eligendi praesentium, quam atque ex
                    eos magni nemo eius aliquid recusandae voluptatibus molestias accusamus architecto, aliquam, quaerat
                    rem ullam ipsam hic ratione! Sequi, aliquam. Amet dolorem perferendis a veritatis similique nam odio
                    commodi, repudiandae ipsa aperiam quasi iusto mollitia.
                </p>
            </div>
            <div class="b-tos__bottom">
                <div class="b-tos__update">The last update to Terms of Service was on July 30, 2017</div>
                <div class="b-tos__accept-wrapper" ng-show="false">
                    <div class="b-tos__accept">
                        <div class="b-tos__checkbox" ng-if="!accepted" ng-click="accept()"></div>
                        <div class="b-tos__checked" ng-if="accepted"><img ng-src="{{themeDir}}/img/new-design/check-circle-grey.svg" alt=""></div>
                        <div class="b-tos__accept-text">I accept the Terms of Service.</div>
                    </div>
                </div>
                <div class="b-tos__continue-wrapper" ng-show="false">
                    <div class="b-tos__continue {{accepted ? '' : 'b-tos__continue--disabled'}}" ng-click="handleContinueClick()">Continue</div>
                </div>
            </div>
        </div>

    </div>

</div>

<div ng-show="isLoading" class="loading-indicator">Loading...</div>