<div class="container padding-vertical">

    <div class="b-ch-accepted col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="b-ch-accepted__check-mark">
            <img ng-src="{{themeDir}}/img/new-design/check-circle.svg" alt="">
        </div>
        <div class="b-ch-accepted__white-box">
            <div class="b-ch-accepted__title">you've accepted this challenge!</div>
            <div class="b-ch-accepted__message">{{message}}</div>
        </div>
        <div class="b-ch-accepted__go-to-next">
            <div class="b-ch-accepted__go-to-next-btn" ui-sref="home">go to next challenge</div>
            <div class="b-ch-accepted__triangle" ui-sref="home"></div>
        </div>
        <div class="b-ch-accepted__placeholder"></div>
        <div class="b-ch-accepted__back-to-this">
            <div class="b-arrow-left" ng-click="goBackToChallenge()">
                <div class="b-arrow-left__tr"></div>
                <div class="b-arrow-left__rect"></div>
                <div class="b-arrow-left__text">BACK TO THIS CHALLENGE</div>
            </div>
        </div>
    </div>

</div>