<div class="container padding-vertical">
    <div class="b-ch-limit-reached col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="b-ch-limit-reached__header">
            <img src="{{themeDir}}/img/new-design/you-challenged.png" alt="">
        </div>
        <div class="b-ch-limit-reached__main">
            <div class="b-ch-limit-reached__img">
                <img src="{{themeDir}}/img/new-design/fire.png" alt="">
            </div>
            <div class="b-ch-limit-reached__first-block">
                <div>whoa!</div>
                <div>you're on fire!</div>
            </div>
            <div class="b-ch-limit-reached__second-block">
                <div>you've reached your</div>
                <div class="b-ch-limit-reached__emphasize">5 challenge limit</div>
            </div>
            <div class="b-ch-limit-reached__third-block">
                <div>complete some of your</div>
                <div>accepted challenges to</div>
                <div>unlock more</div>
            </div>
            <button class="b-ch-limit-reached__button" ui-sref="yChallenges">go to accepted challenges</button>
        </div>
    </div>
</div>