<div ng-hide="isLoading" class="container padding-vertical">
    <div class="l-ychallenge col-md-4 col-sm-4 col-xs-12 col-centered">
    
        <div class="l-ychallenge__main">
            <div class="b-challenge">
                <div class="b-challenge__thumbnail">
                    <img ng-src="{{challenge.thumbnail_url}}" ng-if="challenge.thumbnail_url" alt="">
                </div>
                <div class="b-challenge__title">{{challenge.title}}</div>
                <div class="b-challenge__content" ng-bind-html="challenge.content"></div>
                <div class="b-challenge__buttons">
                    <button ng-if="!challenge.status" ng-click="acceptClick(challenge)" class="b-challenge__accept-button">Accept</button>
                    <button ng-if="challenge.status==1" ng-click="completeClick(challenge)" class="b-challenge__complete-button">Push<br/> when<br/> complete</button>
                    <div ng-if="justCompleted" class="b-challenge__just-completed">Great job!</div>
                    <div ng-if="challenge.status==4 && !justCompleted" class="b-challenge__completed">
                        <img ng-src="{{themeDir}}/img/new-design/check.svg" alt=""> <br/> Challenge complete!
                    </div>
    
                    <div class="b-challenge__pass-button-wrapper" ng-if="!challenge.status">
                        <button ng-click="passClick(challenge)" class="b-challenge__pass-button">Pass</button>
                    </div>
                </div>
                <div class="b-challenge__accepted-users" ng-if="challenge.accepted_users.length">
                    <div class="b-challenge__accepted-users-number">{{challenge.accepted_users.length}}</div>
                    <div class="b-challenge__accepted-user-image" ng-repeat="user in challenge.accepted_users" ng-bind-html="user.avatarHtml"></div>
                </div>
            </div>
        </div>
    
        <div class="l-ychallenge__comments">
            <div class="l-ychallenge__comment" ng-repeat="comment in challenge.comments">
                <div class="b-comment b-comment--depth-{{comment.comment_depth}}">
                    <div class="b-comment__top">
                        <div class="b-comment__author">{{comment.comment_author}}</div>
                        <div class="b-comment__date">{{comment.comment_timestamp*1000 | date:'MMM dd - hh:mma'}}</div>
                        <div class="b-comment__mark" ng-click="flagComment(comment.comment_ID)"><img ng-src="{{themeDir}}/img/new-design/mark-comment.png" alt=""></div>
                    </div>
                    <div class="b-comment__middle">
                        <div class="b-comment__author-avatar" ng-bind-html="comment.author_avatar_html"></div>
                        <div class="b-comment__content">{{comment.comment_content}}</div>
                    </div>
                    <div class="b-comment__bottom">
                        <div class="b-comment__reply-button" ng-click="addComment(comment.comment_ID)">reply</div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="l-ychallenge__comment-button">
            <button class="b-comment-button" ng-click="addComment()">comment</button>
        </div>
    
        <div class="l-ychallenge__bottom">
            <div class="l-ychallenge__go-back">
                <div class="b-arrow-left" ng-click="goBack()">
                    <div class="b-arrow-left__tr"></div>
                    <div class="b-arrow-left__rect"></div>
                    <div class="b-arrow-left__text">BACK</div>
                </div>
            </div>
            <div class="l-ychallenge__go-to-top"><img ng-src="{{themeDir}}/img/new-design/up-arrow.svg" ng-click="scrollToTop()"></div>
        </div>
    
    </div>
</div>

<div ng-show="isLoading" class="loading-indicator">Loading...</div>

<div id="comment-modal" class="b-comment-modal hide">
    <h1>Add Comment</h1>
    <textarea class="b-comment-modal__textarea" ng-model="modalData.comment"></textarea>
    <div>
        <button ng-click="handleModalAdd()">Add</button>
        <button ng-click="handleModalCancel()">Cancel</button>
    </div>
</div>