<div ng-hide="isLoading">

    <div ng-if="is_user_logged_in">

        <div ng-if="user_has_plan">

            <div>

                <div class="container padding-vertical">

                    <div class="b-challenge-set-heading">
                        <div class="b-challenge-set-heading__inner">
                            Accepted Challenges
                        </div>
                    </div>

                    <div ng-repeat="challenge in challenges" ng-if="challenge.status == 1" class="b-acc-challenge col-sm-4 col-xs-12" ui-sref="yChallenge({id: challenge.id})">
                        <div class="b-acc-challenge__thumbnail" back-img="{{challenge.thumbnail_url}}" ng-style="{'border-color': challenge.category_color ? challenge.category_color : '#CD9706'}">
                        </div>
                        <div class="b-acc-challenge__title-time">
                            <div class="b-acc-challenge__title" ng-style="{'color': challenge.category_color ? challenge.category_color : '#CD9706'}">{{challenge.title}}</div>
                            <div class="b-acc-challenge__time">{{challenge.status_updated | daysPassed}}</div>
                        </div>
                    </div>

                    <div class="b-challenge-set-heading">
                        <div class="b-challenge-set-heading__inner">
                            Completed Challenges
                        </div>
                    </div>

                    <div ng-repeat="challenge in challenges" ng-if="challenge.status == 4" class="b-compl-challenge col-sm-4 col-xs-12" ui-sref="yChallenge({id: challenge.id})">
                        <div class="b-compl-challenge__icon">
                            <img ng-src="{{challenge.category_badge_url}}" alt="">
                        </div>
                        <div class="b-compl-challenge__title">{{challenge.title}}</div>
                    </div>

                </div>

            </div>

        </div>

        <div ng-if="!user_has_plan">

            <div class="row container">

                <div class="col-sm-12 main-heading">

                    <h2 class="con-heading">You need to update plan</h2>

                    <a class="main-account-link" ng-href="{{link_account_page}}">account page</a>

                </div>

            </div>

        </div>

    </div>

</div>

<div ng-show="isLoading" class="loading-indicator">Loading...</div>