/*
Theme Name: YouCoached New
Version: 1.0.0
Theme URI:
Author: Plum Networks
Author URI:
Description: YouCoached
*/

body {
	background: #fafafa;
	font-family: sans-serif;
}
.col-width {
	max-width: 680px;
	padding: 0 1.5em;
	margin: 3em auto;
}
header {
	display:block;
	margin-bottom: 3em;
	text-align: center;
}
article {
	display:block;
	background: #fff;
	padding: 1.5em;
	margin-bottom: 1.5em;
}