#category_color_container .wp-picker-holder{position: absolute}

.al_admin-avatar-list-item {
    display: flex; align-items: center;
}

.al_admin-avatar-container {
    width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin-right: 10px;
}

.al_admin-avatar-container img {
    width: 100%; height: 100%;
}

#calendar {

    margin: 0 auto;

    padding: 0;

    width: 100%;

    /*max-width: 1000px;*/

    font-family: Helvetica, "Times New Roman", Times, serif;

}

#calendar .box {

    position: relative;

    width: 100%;

    height: 40px;

    background-color: #787878;

}

#calendar .header {

    line-height: 40px;

    color: #fff;

    width: 100%;

    height: 40px;

    text-align: center;

}

#calendar .header a:focus {

    box-shadow: none;

}

#calendar .header a.prev, #calendar .header a.next {

    text-decoration: none;

    color: #fff;

}

#calendar .header span.title {

    font-size: 18px;

}

#calendar .header a.prev {

    float: left;

    margin-left: 10px;

}

#calendar .header a.next {

    float: right;

    margin-right: 10px;

}

/*******************************Calendar Content Cells*********************************/

#calendar ul.label {

    width: 99%;

    margin: 0;

    padding: 0;

    margin-top: 5px;

    margin-left: .5%;

}

#calendar ul.label li {

    margin: 0;

    padding: 0;

    margin-right: .5%;

    float: left;

    list-style-type: none;

    width: 13.7%;

    height: 40px;

    line-height: 40px;

    vertical-align: middle;

    text-align: center;

    color: #000;

    font-size: 17px;

    font-weight: bolder;

    background-color: transparent;

}

#calendar ul.dates {

    margin: 0;

    padding: 0;

    margin-left: .5%;

    margin-bottom: .5%;

}

ul.dates .chosen-container {

    min-height: 81px;

    max-height: 100px;;

}

ul.dates .chosen-container:hover {

    max-height: 500px;

    position: relative;

    z-index: 100

}

/** overall width = width+padding-right**/

#calendar ul.dates > li {

    padding: 0;

    margin: 5px 0 0 .5%;

    float: left;

    width: 13.7%;

    height: 130px;

    font-size: 13px;

    background-color: #DDD;

    color: #000;

    text-align: center;

}

#calendar ul.dates li.future {

    cursor: pointer;

}

#calendar ul.dates p {

    margin: 15px 0 0 0;

    font-size: 15px;

    font-weight: bolder;

    color: rgba(0, 0, 0, .5)

}

#calendar ul.dates p.future {

    color: #000;

}

/*#calendar ul.dates span {*/

/*position: absolute;*/

/*bottom: 10px;*/

/*left: 50%;*/

/*transform: translateX(-50%);*/

/*border: 1px solid rgba(0,0,0, .3);*/

/*color: rgba(0,0,0, .8);*/

/*padding: 3px;*/

/*}*/

/*#calendar ul.dates button {*/

/*position: absolute;*/

/*top: 8px;*/

/*right: 5px;*/

/*width: 30px;*/

/*height: 30px;*/

/*background: url(../images/ico/icon-save.png);*/

/*background-size: contain;*/

/*border: none;*/

/*opacity: .6;*/

/*cursor: pointer;*/

/*}*/

#calendar ul.dates select {

    /*display: none;*/

    /*position: absolute;*/

    /*z-index: 10;*/

    /*top: 50px;*/

    /*left: 0;*/

    width: 100%;

    min-height: 200px;

}

#calendar ul.dates select:hover {

    max-height: 180px;

}

:focus {

    outline: none;

}

.clear {

    clear: both;

}

.wrap.full-height {

    height: 100%;

}

.save-all {

    margin-top: 20px !important;

    margin-bottom: 200px !important;

    text-transform: capitalize;

}

/*ajax loader div*/

#load-main {

    display: none;

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    z-index: 10;

    margin-left: -20px;

    background: rgba(0, 0, 0, 0.3);

}

#load {

    margin: 45% auto 0 auto;

    width: 60px;

}

#load span {

    font-size: 20px;

    color: white;

    text-shadow: 3px 2px 2px rgba(255, 255, 255, .4);

}

.load_block {

    background-color: #828282;

    border: 2px solid #3a3a3a;

    float: left;

    height: 30px;

    margin-left: 5px;

    width: 8px;

    opacity: 0.1;

    -webkit-transform: scale(0.7);

    -webkit-animation-name: load;

    -webkit-animation-duration: 1s;

    -webkit-animation-iteration-count: infinite;

    -webkit-animation-direction: linear;

}

#block_1 {

    -webkit-animation-delay: .3s;

}

#block_2 {

    -webkit-animation-delay: .4s;

}

#block_3 {

    -webkit-animation-delay: .5s;

}

@-webkit-keyframes load {

    0% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.1;
    }

}

/*ajax loader div*/

.label-quiz-admin {

    display: block;

    margin-top: 20px;

}

/* messages custom post */

.full-width {

    width: 100%;

}

.column-color {

    width: 50px;

}

.column-color .color-block {

    display: inline-block;

    width: 28px;

    height: 28px;

    border: 1px solid #ddd;

}

.main-select {

    width: 100%;

    max-width: 300px;

}

.al-term-relations-wrap {

    min-height: 230px;

}

.chall-acc-toggle.hide {

    display: none;

}

#advanced-sortables {

    display: none;

}

/* messages custom post end*/

.full-height-div {
    height: 100vh;
}

/* rewards */
.reward-one {
    /*border: 1px solid #595959;*/
    margin: 10px 10px 30px 0;
    padding: 10px;
    max-height: 355px;
    overflow: hidden;
    background-color: #fff;
}

.al-left-one {
    float: left;
    width: 50%;
    /*max-width: 500px;*/
}

.al-right-one {
    float: left;
    width: 50%;
    max-width: 300px;

}

.al-result {
    display: block;
    /*background: #fff;*/
    /*border-bottom: 1px solid #959595;*/
    color: #000;
    height: 20px;
}

.hide-content a, .hide-content span {
    display: none;
}

.hide-mailto li {
    float: left;
    margin-right: 35px;
}

.no-marg {
    margin: 0;
}

.ar-inl {
    display: inline;
}

.ar-bold {
    font-weight: bold;
}

.ar-rew-title {
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
}

/* rewards end */