    /**/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue.otf') format('opentype'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JuliusSansOne-Regular';
    src: url('../fonts/JuliusSansOne-Regular_gdi.eot');
    src: url('../fonts/JuliusSansOne-Regular_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/JuliusSansOne-Regular_gdi.woff') format('woff'), url('../fonts/JuliusSansOne-Regular_gdi.ttf') format('truetype'), url('../fonts/JuliusSansOne-Regular_gdi.svg#JuliusSansOne-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

body {
    font-family: "HelveticaNeue";
    max-width: 100%;
    overflow-x: hidden;
    background: #333;
}

body.white {
    background: #fff;
    font-family: sans-serif;
}

.align-center{
    text-align: center;
}

[ui-view]{
/*// padding-top: 32px;
// padding-bottom: 32px;*/
}


#simplemodal-container {
    background-color: #ffffff;
    color: #333333;
    min-height: 290px;
    height: auto !important;
    width: 450px !important;
    top: 12px !important;
    position: absolute !important;
    right: 12px !important;
    left: auto !important;
    border: 1px solid #eee;
}

#simplemodal-container a.modalCloseImg {
    background: rgba(0, 0, 0, 0) url("../../img/basic/x.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline;
    height: 39px;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 39px;
    z-index: 3200;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.login-form-box > form input {
    border: 1px solid rgb(204, 204, 204);
    height: 35px;
    margin-top: 15px;
    width: 328px;
    text-transform: lowercase;
    padding-left: 12px;
}

.login-form-box > form input[type="submit"]{
    padding-left: 0;   
}

#simplemodal-overlay{
    background-color: transparent !important;
}

.msd-cont{
    background-color: rgb(248, 248, 248) !important;
}

.msd-box{
    top: -32px;
    position: relative;
    height: calc(100% + 32px);
}
.msd-box .image{
    top: 0 !important;
    margin-bottom: 12px !important;
}

.coach-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slImg{
    height: 450px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mGraph{
    float: right;
}
.padding-buttons {
        padding: 20px 35px;
    }
    .button-yellow {
        width: 300px;
        display: block;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(244, 190, 52);
        color: rgb(244, 190, 52);
        font-size: 18px;
        margin-top: 55px;
        padding: 8px 25px;
        text-align: center;
    }
    .button-yellow:hover {
        color: #fff;
        background-color: rgb(244, 190, 52);
    }
    margin-auto {
        margin: 0 auto;
    }
    .hover-bigger {
        transition: transform ease .3s
    }
    .hover-bigger:hover {
        transform: scale(1.2);
    }
    .main-cat-title {
        line-height: 1.6;
    }
    .img-header {
        height: 228px;
        background-size: cover;
        background-position: 50%;
        margin-top: -30px;
    }
    .rel {
        position: relative;
    }
    .challenge-button {
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        margin: 0 auto;
        display: block;
        float: none;
        width: auto;
    }
    .accept-challenge {
        border: 1px solid rgb(150, 150, 150);
        background: #fff;
        padding: 8px 0;
    }
    .accept-challenge:hover {
        border: 1px solid #f4be34;
        color: #f4be34;
    }
    .bottom-fix {
        position: relative;
        bottom: 0;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        /* min-width: 245px; */
        margin: 32px auto;
        padding: 10px 12px;
        color: #757575;
    }
    .challenge-box .msg-heading {
        padding: 3px 0;
        margin: 18px 0 12px;
    }
    a.completed-challenges-link {
        color: #f4be34;
        font-size: 16px;
    }
    a.completed-challenges-link img {
        margin-bottom: -9px;
    }
    .user-avatar-display {
        float: left;
    }
    .image-update-buttons {
        bottom: -13px;
        height: 25px;
        right: -42px;
    }
    .image-update-buttons > a {
        /*color: #fff;*/
        color: #000;
    }

.padding-none {
    padding: 0 !important;
}

.quiz-buttons {
    text-align: center;
}

.quiz-buttons a {
    display: inline-block;
}

.profile-visit {
    position: relative;
    display: inline-block;
    font-weight: 200;
    color: #888;
    font-family: sans-serif;
    text-transform: lowercase;
    top: 2px;
    font-size: 13px;
}

.l-nav {
    display: none;
}

#landing-menu {
    position: relative;
}

#landing-menu .slicknav_menu {
    display: block;
}

#landing-menu .slicknav_menutxt {
    display: none;
}

#landing-menu .slicknav_nav {
    display: block !important;
    height: 100%;
    left: 0;
    top: 0;
    width: 320px;
    z-index: 999;
    padding: 20px 0 0 0;
}

#landing-menu .slicknav_hidden {
    left: -999px;
    transition: all 1.3s ease 0s;
}

#landing-menu .quiz-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    width: 215px;
}

#landing-menu .quiz-btn:hover {
    border-color: #fff;
}

#one-msg {
    width: 70%;
    display: table;
    margin: auto;
    float: none;
}

#one-msg img {
    width: auto;
    float: none;
}

#one-msg h3 {
    font-size: 40px;
    line-height: normal;
}

#one-msg .msg-desc-box {
    padding: 40px 0 10px;
}

#one-msg .msg-desc {
    font-size: 20px;
    line-height: 27px;
    margin: 20px 0;
}

.jssorb03 {
    position: absolute;
}

.jssorb03 div,
.jssorb03 div:hover,
.jssorb03 .av {
    position: absolute;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url('../img/b03.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb03 div {
    background-position: -5px -4px;
}

.jssorb03 div:hover,
.jssorb03 .av:hover {
    background-position: -35px -4px;
}

.jssorb03 .av {
    background-position: -65px -4px;
}

.jssorb03 .dn,
.jssorb03 .dn:hover {
    background-position: -95px -4px;
}

.jssora03l,
.jssora03r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    overflow: hidden;
}

.landing-body {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
}

.header {
    padding: 15px 0;
    background: #fff;
}

.login-btn {
    background-color: rgb(255, 255, 255);
    border-color: rgb(153, 153, 153);
    border-style: solid;
    border-width: 1px;
    color: rgb(153, 153, 153);
    padding: 8px 20px;
    margin-top: 12px;
}

.main-heading {
    font-family: JuliusSansOne-Regular;
    font-size: 30px;
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.quiz-btn {
    background-color: rgb(255, 255, 255);
    border-color: rgb(244, 190, 52);
    border-radius: 0 !important;
    border-style: solid;
    border-width: 1px;
    color: rgb(244, 190, 52);
    font-size: 18px;
    margin-top: 55px;
    padding: 8px 30px;
    text-transform: uppercase;
    white-space: pre;
    display: inline-block;
    float: none;
}

.quiz-btn:hover{
    background-color: rgb(244, 190, 52) !important;
    color: rgb(255, 255, 255) !important;

}

.subscribe-btn {
    background-color: rgb(244, 190, 52);
    border: 1px solid rgb(244, 190, 52);
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 5px 0 0;
    padding: 8px 80px;
    text-transform: uppercase;
    position:relative;
    top:4px;
}

.lady-image {
    margin-left: 25px;
}

.head {
    color: rgb(244, 190, 52);
    font-family: JuliusSansOne-regular;
    font-size: 28px;
    line-height: 36px;
    margin-top: 45px;
    text-align: center;
}

.paragraph {
    font-size: 18px;
    line-height: 27px;
    margin-top: 35px;
    text-align: center;
    color: #757575;
}

.sub-par {
    font-size: 20px;
    line-height: 27px;
    margin-top: 26px;
    text-align: center;
}

.area-box {
    background-color: rgb(245, 245, 245);
    margin-top: 45px;
}

.heading {
    font-family: "JuliusSansOne-Regular";
    font-size: 30px;
    font-weight: lighter;
    line-height: 36px;
    margin-bottom: 60px;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
}

.box {
    box-shadow: 0 0 10px rgb(2, 5, 2);
    height: auto;
    margin: 0 1.53% 36px;
    /*margin-right: 0;
    margin-left: 0;*/
    padding: 0;
    width: 30%;
    /*width: calc(33.333%);*/

}
.box:nth-child(even){
    /*width: calc(33% - 36px);
    margin-right: 18px;
    margin-left: 18px;*/
}

.landing-box .msg-desc-box{
    min-height: 120px;
}

.landing-box {
    box-shadow: 0 0 3px rgb(204, 204, 204) !important;
    width: calc(30%);
}
.landing-box:nth-child(odd){
    width: calc(30%);
    margin: 0 1.53% 36px;
}
.fxt_hyt {
    height: 300px;
}

.description {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(245, 245, 245);
    color: rgb(102, 102, 102);
    font-size: 14px;
    height: 88px;
    padding: 16px;
    text-align: center;
    width: 368px;
}

.sub-box {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    float: left;
    z-index: 3
}

.sub-box img {
    float: right;
    width: 100%;
}

.sub-box .image {
    height: 236px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    position: relative;
    top: -30px;
    margin-bottom: -30px;
}

.fashion-btn {
    background-color: rgb(47, 179, 186);
    border-color: rgb(47, 179, 186);
}

.fitness-btn {
    background-color: rgb(252, 147, 38);
    border-color: rgb(252, 147, 38);
}

.relation-btn {
    background-color: rgb(143, 209, 198);
    border-color: rgb(143, 209, 198);
}

.lifestyle-btn {
    background-color: rgb(255, 195, 13);
    border-color: rgb(255, 195, 13);
}

.hair-btn {
    background-color: rgb(106, 106, 106);
    border-color: rgb(106, 106, 106);
}

.interior-btn {
    background-color: rgb(254, 93, 85);
    border-color: rgb(254, 93, 85);
}

.sml-headings {
    color: rgb(244, 190, 52);
    font-family: 'JuliusSansOne-Regular';
    text-align: center;
    line-height: 18px;
    margin: 34px 0 18px;
    font-size: 20px;
    opacity: .56;
}

.desc {
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #757575;
}

.evaluation {
    /*margin-left: 80px;*/
    text-align: center;
    padding: 12px 15px;
}

.get-app-box {
    margin-top: 70px;
}

.right-side {
    margin-top: 70px;
}

.app-content {
    font-size: 18px;
    line-height: 24px;
    margin: 70px 0;
    color: #757575;
}

.footer {
    background: #fff;
    border-top: 1px solid rgb(204, 204, 204);
/*//    margin-top: 100px;*/
    padding: 15px;
}

.footer-left-side {
    margin-left: 25px;
}

.social {
    float: right;
    margin-right: -30px;
}

.links {
    color: rgb(244, 190, 52);
}

.menu-item {
    color: rgb(153, 153, 153);
    line-height: 36px;
}

.menu-item {
    text-decoration: none;
    position: relative;
}

.menu-item:hover {
    text-decoration: none;
    position: relative;
}

.active a {
    color: #000
}

. {
    background-color: #333333;
}

.con-heading {
    color: #fff;
    font-size: 36px;
    font-weight: unset !important;
    padding: 50px 0;
    text-align: center;
    font-family: "JuliusSansOne-Regular";
}

.content-part {
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    padding: 0px 5%;
    width: 100%;
    float: left;

}

.cat-fetch-av{
    /*background-color: #444;*/
    text-align: right;
    height: 180px;
}
.cat-fetch-av img{
    height: 150px;
    float: right;
    margin-top: 30px;
}

.cat-fetch-av .fname{
    text-align: right;
    padding-right: 12px;
}

.quotes {
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
    text-align: center;
}

.quote {
    color: rgb(244, 190, 52);
    font-size: 35px;
}

.quotation {
    padding: 55px;
    margin-right: 8%;
}

.author-name {
    color: #9e9e9e;
    float: right;
    font-style: italic;
    margin-right: 18px;
}

.waves-img {
    margin-left: 90px;
    margin-top: 43px;
    position: relative;
    bottom: -3px;
}

.score {
    color: rgb(205, 155, 28);
    font-size: 15px;
    line-height: 18px;
    margin-top: 40px;
}

.score a {
    margin-bottom: 7px;
    color: #cd9b1c;
}

.desc-box {
    background-color: #f8f8f8;
    float: left;
    width: 100%;
}

.desc-box.msg-desc-box{
    background-color: #ffffff;
}

.desc-heading {
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 17px;
    margin-top: 30px;
    text-align: center;
}

.accept-button {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    color: rgb(150, 150, 150);
    font-size: 16px;
    height: 40px;
    line-height: 36px;
    margin-left: 85px;
    margin-top: 25px;
    width: 200px;
}

.complete-challenge.completed {
    background: url(../../img/challenge-completed.png) 0 9px;
    background-repeat: no-repeat;
    color: #f4be34;
    min-width: 150px;
}

.complete-challenge.completed:hover {
    background-position: 0 9px;
}

.complete-challenge {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-left: 37px;
    margin: 20px auto;
    background: url(../../img/challenge-complete.png) 0 2px;
    background-repeat: no-repeat;
}

.complete-challenge:hover {
    background-position: -1px -37px;
    color: #f4be34;
}

.accept-button:hover {
    color: #f4be34;
    border-color: #f4be34;
}

.code-btn {
    height: 27px;
    margin-left: 50px;
    width: 72px;
}

.complete-head {
    margin-bottom: 40px;
}

.completed-link {
    color: rgb(244, 190, 52);
}

.msg-heading {
    color: rgb(47, 179, 186);
    font-family: "JuliusSansOne-Regular";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 20px;
    line-height: 36px;
    padding: 25px 0px;
}

.quiz-box .msg-heading {
    padding: 9px 0 15px;
}

.quiz-head {
    margin: 0 12.5%
}

.msg-desc {
    color: #757575;
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.msg-desc-box {
    border-top: 1px solid rgb(204, 204, 204);
    padding: 5px;
    min-height: 170px;
}

.msg-desc-box.fix-height {
    height: 250px;
    /*margin-bottom: 20px;*/
    background-color: #ffffff;
overflow: hidden;
}
.msg-desc-box.fix-height:hover{
/*overflow: auto;*/
}

.msg-descs {
    color: #757575;
    font-size: 14px;
    line-height: 21px;
    padding: 5px;
    text-align: center;
}

.save-icon {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all ease .5s;
}

.save-icon img {
    height: 27px;
    width: auto;
}

.decor-msg {
    color: rgb(254, 93, 85);
}

.style-msg {
    color: rgb(106, 106, 106);
}

.code-msg {
    color: rgb(255, 195, 13);
}

.first-img {
    float: left;
    margin-top: 18px;
    max-width: 100%;
    width: auto;
}

.quotation.msg-quotation.fl_width {
    float: right;
}

.chic {
    color: rgb(47, 179, 186);
    font-size: 27.76px;
    margin-left: 22px;
}

.bold-text {
    font-size: 36px;
}

.msg-quote {
    color: rgb(47, 179, 186);
}

.fname {
    background: #ffffff none repeat scroll 0 0;
    bottom: 6px;
    font-size: 16.44px;
    line-height: 42.55px;
    opacity: 0.65;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.msg-quotation {
    padding: 18px 0 0 0px;
}

.goal-btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(47, 179, 186);
    border-style: solid;
    border-width: 1px;
    color: rgb(47, 179, 186);
    display: table;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0px auto 50px;
    width: 288px;
    font-size: 24px;
}

.goal-btn:hover {
    background-color: rgb(47, 179, 186);
    border-color: rgb(47, 179, 186);
    color: #fff;
}

.top-box {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0;
    background: #fff;
    min-height: 160px;
    max-height: 160px;
}

.left-part {
    bottom: 0;
    float: left;
    position: absolute;
    width: 35%;
    height: 150px;
    /*margin-right: 5%;*/
    z-index: 1;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.box:nth-child(1) {
  
}

.con-heading + .box .left-part:first-child{
     background-image: url("http://www.ycweb2.tk/wp-content/themes/al_youcoached/img/coach-ferry.png") !important;
}
.con-heading + .box .sub-box .image{
     background-image: url("http://www.ycweb2.tk/wp-content/themes/al_youcoached/img/card1@2x.png") !important;
}


.coach-image img {
    float: left;
    margin-top: 7px;
}

.coach-name {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    left: 0;
    line-height: 36px;
    opacity: 0.65;
    padding: 0 10px;
    position: absolute;
    text-transform: uppercase;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
}

.right-part {
    padding-top: 15px;
    width: 65%;
    float: right;
    z-index: 1;
    padding-right: 16px;
    padding-left: 6px;
}
.right-part .quotes{
    width: 100%;
    color: #757575;
    margin-bottom: 6px;
}
.fitness-head {
    color: rgb(252, 147, 38);
}

.relation-head {
    color: rgb(143, 209, 198);
}

.code-head {
    color: rgb(244, 190, 52);
}

.style-head {
    color: rgb(106, 106, 106);
}

.decor-head {
    color: rgb(254, 93, 85);
}

.person-name {
    color: rgb(244, 190, 52);
}

.single-msg-box {
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.single-msg-heading {
    color: rgb(47, 179, 186);
    font-size: 40.1px;
    line-height: 50.2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 74px;
}

.one-msg-img {
    margin-bottom: 50px;
    margin-left: 188px;
}

.msg-description {
    font-size: 20.01px;
    line-height: 27.01px;
    padding: 0 25px 25px;
}

.one-msg-btn {
    font-size: 26.01px;
    height: 47px;
    left: 282px;
    line-height: 36.1px;
    width: 200px;
}

.account-bar {
    line-height: 60px;
    font-size: 12px;
    font-style: italic;
    color: #666;
    background: #ffffff
}

.profile {
    background-color: rgb(255, 255, 255);
    margin: 0px 0 70px !important;
}

.profile-pic img {
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    margin-bottom: -30px;
    margin-left: 8px;
    margin-top: -20px;
    height: 100px;
    width: auto;
    float: left;
}

.profile-edit-pic img {
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}


.profile-edit-main {
    text-align: center;
    padding: 0 50px;
    max-width: 800px;
    margin: 0 auto;
}

.edit-profile-content {
    background: #fff;
    padding-bottom: 50px;
    margin-top: 100px;
    padding: 50px 12px;
    box-sizing: border-box;
}

.profile-edit-main input {
    width: 100%;
    max-width: 300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    box-shadow: none;
    border: 2px solid #eee;
    padding: 0 6px;
}

.profile-edit-main label {
    min-width: 150px;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    /* float: left; */
    margin-bottom: 6px;
    text-align: center;
    color: #929292;
}
.form-submit .button{
    position: relative;
    top: 0;
    margin: 24px auto 12px;
    background-color: #F5F5F5;
    color: #333333;
}

.save-profile {
    border: 1px solid rgb(244, 190, 52);
    color: rgb(244, 190, 52);
    font-size: 18px;
    background: none;
    padding: 10px 20px;
    margin-top: 30px;
}

.profile-name {
    font-size: 20px;
    margin: 0 18px;
    color: #212121;
    font-style: normal;
    font-family: JuliusSansOne-Regular;
    top: 3px;
    position: relative;
}

.last-visit {
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    margin-left: -35px;
    padding-top: 15px;
}

.new-msgs,
.new-challenges {
    color: rgb(205, 155, 28);
    font-size: 12px;
    line-height: 18px;
    margin-right: 25px;
}

.new-msgs:hover,
.new-challenges:hover {
    color: rgb(205, 155, 28);
}

.notifications {
    text-align: right;
    float: right;
    line-height: 60px;
    /*padding-right: 30px;*/
}

.edit-link {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 10.36px;
    line-height: 18px;
    margin-left: 10px;
    margin-top: 25px;
}

.edit-link:hover {
    color: rgb(255, 255, 255);
}

.review-box {
    background-color: #ffffff;
    min-height: 150px;
    margin-bottom: 40px;
    text-align: center;
    width: 31.3%
}

.review-img {
    display: inline-block;
    margin-top: 10px;
}

.review-date {
    font-size: 14px;
    line-height: 24.33px;
    text-align: center;
    color: #757575;
    margin-bottom: 8px;
}

a.completed-challenges-link {
    color: #f4be34;
    font-size: 16px;
}

.review-challenges {
    /*margin-top: 15px;*/
    float: left;
    /*padding-left: 32px;*/
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.review-challenges-2 {}

.price {
    font-size: 19.78px;
    line-height: 1.83px;
}

.unsubscribe {
    color: #bdbdbd;
    font-size: 12px;
    line-height: 14.83px;
    /*margin-left: 48px;*/
    /*margin-top: 18px;*/
    font-style: italic;
}

.unsubscribe h2 {
    font-size: 14px;
    margin-bottom: 12px;
    color: #757575;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.subscribe-link {
    color: rgb(244, 190, 52);
}

.subscribe-link:hover {
    color: rgb(244, 190, 52);
}

.email-box {
    color: rgb(153, 153, 153);
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.email-img {
    display: inline-block;
    top: 6px;
    position: relative;
}

.change-billing-info {
    color: #757575;
    font-size: 14px;
    line-height: 14.83px;
}

.change-info {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    padding-left: 32px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.change-info ~ .review-challenges{
    float: left;
    padding-left: 32px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.change-pass {
    color: #757575;
    font-size: 14px;
    line-height: 14.83px;
    /*padding-left: 11px;*/
}

.quiz-result-btn {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    margin: auto;
/*//    margin-bottom: 30px;*/
    width: auto;
}

.top-content-row {
    background-color: rgb(255, 255, 255);
    margin: 50px 0;
    padding: 10px;
}

.profile-img {
    float: left;
    margin: 10px;
}

.param {
    clear: both;
    padding: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}

.per-name {
    font-size: 30px;
    font-family: 'JuliusSansOne-Regular';
    font-weight: normal;
    margin: 10px 0;
}

.command {
    font-size: 18px;
    color: #333;
}

.right-content {
    padding-top: 12px;
}

.quiz-box {
    background-color: rgb(255, 255, 255);
    height: 185px;
    margin: 0 18px 50px;
    /*padding-top: 40px;*/
    text-align: center;
    width: calc(30% - 18px);
}

.quiz-box img{
    height: 80px;
}

.quiz-box.fashion > a {
    background-color: #2fb3ba;
}

.quiz-box.fashion > h3 {
    color: #2fb3ba;
}

.quiz-box.relationships > a {
    background-color: #8fd1c6;
}

.quiz-box.relationships > h3 {
    color: #8fd1c6;
}

.quiz-box.fitness > a {
    background-color: #fc9326;
}

.quiz-box.fitness > h3 {
    color: #fc9326;
}

.quiz-box.interior_design > a {
    background-color: #fe5d55;
}

.quiz-box.interior_design > h3 {
    color: #fe5d55;
}

.quiz-box.lifestyle-coaching > a {
    background-color: #ffc30d;
}

.quiz-box.lifestyle-coaching > h3 {
    color: #ffc30d;
}

.quiz-box.hair-and-makeup > a {
    background-color: #6a6a6a;
}

.quiz-box.hair-and-makeup > h3 {
    color: #6a6a6a;
}

.bg-white {
    background: #fff;
    padding: 50px 0;
}

.sub-coaching-btn {
    color: rgb(255, 255, 255);
    float: none;
    height: 44px;
    left: 0;
    padding: 0 20px;
    position: inherit;
    font-family: "JuliusSansOne-Regular";
    font-size: 19px;
    border: 0px;
    line-height: 24px;
}

.btn-box {
    margin-bottom: 50px;
}

.popup-fashion-btn {
    left: 215px;
}

.margn-lft {
    text-align: center;
}

.mobile_menu {
    display: none;
}

.last-visit {
    margin-left: 0px;
}

.slicknav_menu {
    display: none;
}

.active {
    border-bottom: 1px solid rgb(244, 190, 52) !important;
}

.active a {
    color: #333 !important;
}

.slicknav_menu .active a {
    color: #fff !important;
}

#menu {
    float: right;
    margin-top: 10px;
    text-transform: uppercase;
}

#menu > li {
    float: left;
    list-style: outside none none;
    margin-left: 15px;
    text-align: center;
    padding: 0 12px 7px;
    font-size: 14px;
    padding-top: 40px;
}

#menu > li a {
    height: 60px;
    padding-top: 40px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#menu > li.home a {
    background-image: url(../img/home.png);
}

#menu > li.account a {
    background-image: url(../img/account.png);
}

#menu > li.challenges a {
    background-image: url(../img/challenge.png);
}

#menu > li.saved-messages a {
    background-image: url(../img/save.png);
}

.menu-list > ul {
    float: right;
    margin-top: 15px;
}

#menu a {
    color: rgb(153, 153, 153);
}

#menu a:hover {
    color: #000;
}

.button {
    border: 0 none;
    color: rgb(255, 255, 255);
    font-family: "JuliusSansOne-Regular";
    font-size: 19px;
    height: 30px;
    /* left: 50%; */
    line-height: 30px;
    margin: 0 auto;
    padding: 0 15px;
    /* position: absolute; */
    top: -15px;
    width: auto;
    /* margin-left: -87px; */
    display: table;
    text-align: center;
    position: relative;
    z-index: 1;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: rgb(102, 102, 102) !important;
    border: 1px solid rgb(102, 102, 102) !important;
}

.modal-body > p {
    margin-top: 15px;
    text-align: justify;
    font-size: 14px;
    line-height: 21px;
}

.modal-body {
    text-align: center;
}

.popup-right {
    text-align: center;
    margin-top: 15px;
}

.score > p {
    line-height: 36px;
}

.big_logo {
/*//    text-align: center;*/
padding-left: 12px;
}

.big_logo + .col-md-1{
width:16%;
}

.center_content1 {
    text-align: right;
    width: 40%;
}

.hover-box {
    background-color: rgb(12, 147, 161);
    color: rgb(255, 255, 255);
    float: left;
    height: 100%;
    opacity: 0.9;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 600px;
    transition: top 1s ease 0s;
    width: 100%;
    z-index: 2;
}

.coach-box {
    cursor: pointer;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

.coach-img {
    width: 100%;
}

.coach-box:hover .hover-box {
    top: 0px;
}

.logo {
    max-width: 90%;
    width: auto;
}

.lft-side {
    text-align: right;
}

.get-app-box > .lft-side{
    text-align: center;   
}
.google-play-img {
    margin-top: 10px;
}

.hover-box > h1 {
    font-family: "JuliusSansOne-Regular";
    font-size: 24px;
    line-height: 26px;
    opacity: .92;
    margin-top: 6px;
}

.hover-box > h2 {
    font-family: "JuliusSansOne-Regular";
    font-size: 16px;
    line-height: 26px;
    margin-top: 5px;
}

.hover-box > p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
    opacity: .86;
}

#landing-menu .slicknav_btn {
    margin: 0;
}

#landing-menu .slicknav_menu .slicknav_icon {
    margin: 0px;
}

.ques-box {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    margin: 55px 0;
}
/*.uppr-box > img {
float: left;
}*/

.uppr-box {
    background: rgb(249, 249, 249) none repeat scroll 0 0;
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.uppr-box > h2 {
    color: rgb(244, 190, 52);
    font-family: "JuliusSansOne-Regular";
    font-size: 36px;
    line-height: 49.33px;
    margin: 50px auto 10px;
}

.uppr-box > p {
    font-size: 18px;
    line-height: 27px;
    padding: 0 5px;
    color: rgb(51, 51, 51);
}

.content-bx {
    padding: 20px 35px;
    display: none;
}

.btn {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(244, 190, 52);
    color: rgb(244, 190, 52);
    font-size: 16px;
    height: 55px;
    line-height: 23.42px;
    margin-top: 15px;
    padding: 12px 100px;
    width: 383px;
}

.content-bx > h5 {
    color: rgb(244, 190, 52);
    font-size: 16px;
    line-height: 41.62px;
}

.content-bx > p {
    font-size: 14px;
    line-height: 58.62px;
    color: rgb(51, 51, 51);
}

.nxt-link {
    color: rgb(244, 190, 52);
    float: right;
    font-size: 24px;
    line-height: 26.76px;
    margin: 20px 0;
    cursor: pointer;
}

.yellow-line {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 33%;
    z-index: 1;
}

.grey-line {
    left: 0;
    position: absolute;
}

.progress-bar {
    background: rgb(249, 249, 249) none repeat scroll 0 0;
    padding: 25px 0;
    overflow: hidden;
}

.grey-full-line {
    width: 100%;
}

.con-bx {
    padding: 32px 32px 48px;
    text-align: center;
}

.con-bx > h2 {
    color: rgb(244, 190, 52);
    font-family: "JuliusSansOne-Regular";
    font-size: 48px;
    line-height: 49.33px;
    margin: 50px 0;
    opacity: .56;
}

.con-bx > h3 {
    color: #333333;
    font-size: 28px;
    font-weight: 400;
    line-height: 42.25px;
    margin: 0 0 20px;
}

.btn:hover {
    border-color: #333333;
}

.con-bx > p {
    color: rgb(51, 51, 51);
    font-size: 24px;
    line-height: 42px;
}

.strt-btn {
    background: rgb(244, 190, 52) none repeat scroll 0 0;
    border: 0 none;
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 23.34px;
    margin-top: 60px;
    padding: 20px 100px;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
}

.img-box {
    border: 3px solid rgb(187, 187, 187);
    height: 156px;
    margin: 25px 25px 0;
    width: 180px;
    position: relative;
    float: left;
}

.img-box > img {
    width: 100%;
}

.check {
    background: rgb(243, 243, 244) none repeat scroll 0 0;
    bottom: 0;
    height: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 35px;
    line-height: 35px;
}

.link {
    clear: both;
    margin: 20px;
}

.time {
    float: right;
}

.headings {
    color: #757575;
    /*float: left;*/
    font-size: 26px;
    line-height: 41.62px;
    font-family: "JuliusSansOne-Regular";
}

.time-box {
    margin: 35px 0;
    padding: 8px 30px;
}

.time > img {
    float: left;
}

.time span {
    float: left;
    margin-top: 10px;
}

.welcome {
    color: rgb(244, 190, 52);
    font-family: "JuliusSansOne-Regular";
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    margin: 20px;
}

.login-form-box > form input {
    border: 1px solid rgb(204, 204, 204);
    height: 35px;
    margin-top: 15px;
    width: 328px;
    text-transform: uppercase;

}

.forget-pass {
    color: rgb(102, 102, 102);
    float: right;
    font-size: 11px;
    line-height: 8.51px;
    margin-top: 6px;
}

.login-form-box {
    display: inline-table;
    width: 328px;
    margin-bottom: 15px;
}

.login-sub-btn {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 2px solid rgb(244, 190, 52) !important;
    color: rgb(244, 190, 52);
    font-size: 16px;
    line-height: 8.51px;
}

.signup-link {
    color: rgb(244, 190, 52);
    font-size: 16px;
    line-height: 8.51px;
    top: 16px;
    position: relative;
    font-weight: 100;
}

.subscribe {
    line-height: 30px;
}

.par {
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-style: italic;
    line-height: 30px;
    text-align: center;
}

.login-form-box > form label {
    color: rgb(204, 204, 204);
    display: table;
    font-size: 16px;
    line-height: 8.51px;
    margin: 16px 0 0;
    text-transform: uppercase;
}

.date {
    width: 60px !important;
}

.left {
    float: left;
}

.right {
    float: left;
    margin-left: 35px;
    margin-bottom: 15px;
}

.subscribe-sub-btn {
    background: rgb(244, 190, 52) none repeat scroll 0 0;
    border: 0 none !important;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 45px !important;
    line-height: 13.5px;
    width: 192px !important;
}

@media only screen and (max-width: 1170px) {
    .container {
        padding: 0;
        width: 990px;
    }
}

@media only screen and (max-width: 1000px) {
    .review-box {
        width: 48.5%;
        height: 160px;
        margin-right: 0 !important;
    }
    .review-box:nth-child(even) {
        width: 48.5%;
        margin-left: 3% !important;
    }
    .content-part {
        padding: 0px 15px;
    }
    .container {
        padding: 0;
        width: 768px;
    }
    .bars-icon {
        margin-left: 0px;
    }
    .main-heading {
        margin-left: 0px;
    }
    .center_content {
        text-align: center;
    }
    .head {
        margin-left: 0px;
    }
    .paragraph {
        margin-top: 20px;
    }
    .heading {
        margin-left: 0px;
        /*margin-bottom: 20px;*/
    }
    .sub-box {
        width: 100%;
    }
    .description {
        width: 100%;
        height: auto;
    }
    .box {
        width: 350px;
        margin-bottom: 40px;
        margin-right: 0;
        margin-left: 0;
        width: calc(50% - 18px);
    }
    .box:nth-child(even){
        width: calc(50% - 18px);
        margin-right: 0;
        margin-left: 0;
    }

    .box:nth-child(even){
        float: right;
    }
   .con-heading + .box{
    /*//  float: left;*/
   }
.align-center{
text-align: center;
}
    .landing-box {
        box-shadow: 0 0 3px rgb(204, 204, 204) !important;
        width: calc(50%);
    }
    .landing-box:nth-child(odd),
    .landing-box:nth-child(even)
    {
        width: calc(50% - 24px);
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 32px;
        margin: 12px;
    }

    .evaluation {
        margin-left: 0px;
    }
    .work-img {
        margin-left: 0px;
    }
    .coach-img {
        width: auto;
    }
    .no_padding {
        padding: 0px;
    }
    .google-play-img {
        margin-top: 0px;
    }
    .blank {
        display: none;
    }
    .margn-lft {
        margin-left: 20px;
    }
    .last-visit {
        margin-left: 0px;
    }
    .notifications {
        margin-left: 0px;
    }
    .new-msgs,
    .new-challenges {
        font-size: 13px;
        float: left;
        line-height: 60px;
    }
    .review-box {
        margin-left: 0;
    }
    .review-img {
        margin-left: 0px;
        display: inline-block;
    }
    .review-challenges {
        margin-left: 0px;
    }
    .email-box {
        margin-left: 0px;
        text-align: center;
    }
    .email-box {
        display: inline-block;
        float: none !important
    }
    .email-img {
        display: inline-block;
        float: none !important
    }
    .complete-challenge {
        margin-left: 0px;
    }
    .email-txt {
       display: inline-block;
       width: auto;
       float: none;
    }
    .unsubscribe {
        margin-left: 0px;
    }
    .quotation {
        width: 42%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 32px;
        margin: 0;
    }
    .score {
        font-size: 14px;
    }
    .waves-img {
        margin-left: 0px;
    }
    .sub-box > img {
        width: 100%;
    }
    .accept-button {
        margin-left: 0px;
    }
    .top-box {
        width: 100%;
    }
    .quotes {
        width: 90%;
    }
    .author-name {
        margin-right: 38px;
    }
    .one_msg {
        left: 260px;
    }
    .one-msg-img {
        margin-left: 160px;
    }
    .save-icon {
        margin-top: -30px;
    }
    .complete-head {
        margin-bottom: 0px;
    }
    .bottom-box {
        margin-left: 0;
    }
    .quotation.msg-quotation.fl_width {
        float: right;
    }

    .quiz-head {
        /*margin: 0 12.5%;*/
        margin: 0 auto;
        display: block;
        position: relative;
        float: none;
    }

    .quiz-box{
        width: calc(50% - 18px);
        margin: 24px 0;
    }
    .quiz-box:nth-child(even){
        float: right;
    }
    .mGraph{
        width: 10%;
    }
    .mGraph img{
        float: right;
        margin-right: 18px;
        transform: translateY(-3px);
    }
}


.content-bx input[type=radio],
.content-bx input[type=checkbox] {
    display: none;
}
.content-bx input[type=radio] + label,
.content-bx input[type=checkbox] + label {
    display: block;
    text-align: center;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(244, 190, 52);
    color: rgb(244, 190, 52);
    font-size: 16px;
    height: 55px;
    line-height: 28px;
    margin-top: 15px;
    padding: 12px 20px;
    width: 383px;
    cursor: pointer;
}
.content-bx input[type=radio]:checked + label,
.content-bx input[type=checkbox]:checked + label {
    background-image: none;
    color: #fff;
    outline: 0;
    background-color: rgb(244, 190, 52);
}
.content-bx.current {
    display: block;
}
.question {
    margin-top: 10px;
}
.question label {
    display: none;
}
.quest-text p {
    line-height: 40px;
    padding: 0 20px;
}
.question .ui-corner-all {
    border-color: rgb(244, 190, 52);
}
.question .ui-slider-handle.ui-state-default.ui-corner-all {
    background: rgb(244, 190, 52);
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
p.quest-descr {
    font-size: 19px;
    font-weight: bolder;
    line-height: 1.5;
}
.padding-buttons {
    padding: 20px 35px;
}
.button-yellow {
    width: 300px;
    display: block;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(244, 190, 52);
    color: rgb(244, 190, 52);
    font-size: 18px;
    margin-top: 55px;
    padding: 8px 25px;
    text-align: center;
}
.button-yellow:hover {
    color: #fff;
    background-color: rgb(244, 190, 52);
}
margin-auto {
    margin: 0 auto;
}
.hover-bigger {
    transition: transform ease .3s
}
.hover-bigger:hover {
    transform: scale(1.2);
}
.main-cat-title {
    line-height: 1.6;
}
.img-header {
    height: 228px;
    background-size: cover;
    background-position: 50%;
    margin-top: -30px;
}
.rel {
    position: relative;
}
.challenge-button {
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    /*margin: 0 auto;*/
    display: block;
    float: none;
    width: auto;
}
.accept-challenge {
    border: 1px solid rgb(150, 150, 150);
    background: #fff;
    /*padding: 8px 0;*/
}
.accept-challenge:hover {
    border: 1px solid #f4be34;
    color: #f4be34;
}
.bottom-fix {
    /*position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 245px;*/
}
.challenge-box .msg-heading {
    padding: 3px 0;
}
a.completed-challenges-link {
    color: #f4be34;
    font-size: 16px;
}
a.completed-challenges-link img {
    margin-bottom: -9px;
}
.user-avatar-display {
    float: left;
}
.image-update-buttons {
    bottom: -13px;
    height: 25px;
    right: -42px;
}
.image-update-buttons > a {
    /*color: #fff;*/
    color: #000;
}
.screen-reader-text {
    display: none;
}
.abs {
    position: absolute;
}
.quiz-checkbox-div {
    /*height: 300px;*/
    border: 2px solid grey;
    margin-right: 10px;
}
.quiz-checkbox-div {
    width: 48%;
    margin: 10px 1%;
}

.quiz-checkbox-div.gender {
    height: 300px;
}
.quiz-checkbox-div.hair {
    height: 300px;
}
.quiz-checkbox-div.hair {
    width: 23%;
    margin: 0 1%;
}
.quiz-checkbox-div img {
    width: 100px;
    height: auto;
    cursor: pointer;
}
.quiz-checkbox-div label {
    /*height: 300px;*/
}
.checkbox {
    bottom: 0;
    right: 0;
    width: 26px;
    height: 25px;
    background: transparent url(../../img/S4p2R.png ) no-repeat 0 50%;
}
.checked {
    background: transparent url(../../img/S4p2R.png ) no-repeat 85% 50%
}
.visible {
    display: block !important;
}
.style-items {
    width: 200px;
    margin: 10px 1.25%;
}
.body-type {
    width: 150px;
    margin: 0 .5%;
}
.quiz-checkbox-div.relationships,
.quiz-checkbox-div.fitness-quiz-box {
    width: 48%;
    margin: 10px 1%;
}
.content-bx .relationships img {
    width: 90%;
    height: auto;
}
.skin {
    width: 23%;
    margin: 0 1%;
    height: 370px;
}
.quiz-image-label {
    height: 170px;
    background-size: cover;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
}
.quiz-image-label.body-type,
.quiz-image-label.relationships {
    width: 100%;
    height: 270px;
}
.quiz-image-label.relationships,
.quiz-image-label.fitness {
    height: 260px;
}
.quiz-image-label.skin {
    width: 99.4%;
    height: 100%;
}
.quiz-image-label.hair,
.quiz-image-label.gender {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.padd-right {
    padding-right: 30px;
}
.main-account-link {
    color: #fff;
    text-transform: lowercase;
    text-decoration: underline;
    font-weight: normal;
}
.pers-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.self-goals-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 26px;
}
.add-pers-goal {
    margin: 20px auto 0 auto;
    border: 1px solid rgb(244, 190, 52);
    color: rgb(244, 190, 52);
    font-size: 18px;
    padding: 8px 25px;
    text-transform: uppercase;
    white-space: pre;
    background: none;
    width: 100px;
    display: block;
}
.add-pers-goal:hover{
    background: #f4be34;
    color: #ffffff;
}
table.all-self-goals {
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 0 auto;
    padding: 1px;
}
table.all-self-goals th,
table.all-self-goals td {
    text-align: center;
    border: 1px solid #000;
}
table .goal-status {
    width: 15%;
}
table.all-self-goals .goal-status {
    width: 15%;
}
table.all-self-goals .goal-text {
    width: 70%;
}
table.all-self-goals .goal-action {
    width: 15%;
}
.main-one-goal > div {
    padding: 3px;
}
table.all-self-goals td.text-left {
    text-align: left;
    padding-left: 10px;
}
.personal-goal-conatainer {
    margin-top: 30px;
}
/* membership templates*/
.pmpro_checkout {
    margin: 0 auto;
}
.mrgn-top {
    margin-top: 50px;
}
.pmpro_thead-msg {
    display: block;
    float: none;
}
.memb-checkout-container div {
    max-width: 700px;
    margin: 0 auto;
}
/* membership templates end*/
/*custom page template*/
.custom-page-container button {
    position: static;
    margin: 30px;
}
/*custom page template end*/

@media (min-width: 768px){

    .account-bar{
        width: 65%;
    }
    .notifications{
        width: 35%;
    }
   .coach-box{
        height: 250px;
    }
    /*//.mob_res{
    //  width: 50%;
    //}*/
    .coach-box:hover .hover-box{
        /*overflow: auto;*/
    }
}

@media only screen and (max-width: 990px) {
.big_logo + .col-md-1{
   width: 20%;
}

}
@media only screen and (max-width: 767px) {
.big_logo{
text-align: center;
}

.lady-image{
margin-left:0 !important;
}

    .account-bar{
        width: 100%;
    }
    .notifications{
        width: 100%;
    }
    .evaluation{
    }
    .mGraph{
        width: 25%;
    }
    .mGraph img{
        float: right;
        margin-right: 18px;
        transform: translateY(30%);
    }

    .profile {
        margin: 15px 0 40px !important;
    }
    #one-msg {
        width: 100%
    }
    .quiz-box {
        width: 48%;
    }
    .quiz-head {
        margin: 0px;
    }
    .review-box {
        width: 100%
    }
    .review-box:nth-child(even) {
        width: 100%;
        margin-left: 0 !important;
    }
    .new-msgs,
    .new-challenges {
        float: left;
        font-size: 13px;
        margin-right: 0;
        text-align: center;
        width: 50%;
        line-height: 50px;
    }
    .profile-pic {
        width: 100%;
        text-align: center;
    }
    .container {
        width: 630px;
    }
    .bars-icon {
        margin-left: 0px;
    }
    .main-heading {
        margin-left: 0px;
    }
    .center_content {
        text-align: center;
    }
    .head {
        margin-left: 0px;
    }
    .paragraph {
        margin-top: 20px;
    }
    .heading {
        margin-left: 0px;
        margin-bottom: 60px;
    }
    .sub-box {
        width: 100%;
    }
    .description {
        width: 100%;
        height: auto;
    }
    .box {
        width: 232px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .evaluation {
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    .work-img {
        margin-left: 0px;
    }
    .coach-img {
        width: 100%;
    }
    .google-play-img {
        margin-top: 0px;
    }
    .lady-image {
        margin-left: 0px;
        margin-top: 20px;
    }
    .paragraph {
        margin-left: 0px;
        margin-top: 10px;
    }
    .mob_res img {
        width: 100%;
    }
    .right-side {
        float: right;
    }
    .right-side{
        text-align: center;
        margin-bottom: 60px;
    }
    .right-side .headings{
        width: 100%;
    }
    .social {
        margin-right: 0px;
        width: 30%;
    }
    .blank {
        display: none;
    }
    .margn-lft {
        margin-left: 20px;
    }
    .last-visit {
        margin-bottom: 20px;
        margin-left: -20px;
        padding-top: 12px;
        text-align: center;
        width: 22%;
    }
    .notifications {
        margin-left: 0;
    }
    .profile-name {
        margin-left: 0px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
        float: left;
    }
    .acc-cont .profile-name{
        margin-top: 18px;
    }
    .acc-cont .profile{
        margin-top: 5% !important;
    }
    .acc-cont .review-box{
        min-height: 140px;
        max-height: 140px;
    }
    .logo1 {
        height: 50px !important;
        padding-left: 0px !important;
        position: relative !important;
    }
    .edit-link{
        color: rgb(255, 255, 255);
        float: right;
        font-size: 10.36px;
        line-height: 18px;
        margin-left: 10px;
        top: 12px;
        margin-top: 0;
        position: relative;
    }
    .profile-visit {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        float: left;
    }
    .review-box {
        margin-left: 0;
        text-align: center;
    }
    .review-img {
        margin-left: 0px;
        display: inline-block;
    }
    .review-challenges {
        margin-left: 0px;
    }
    .email-box {
        margin-left: 0px;
        text-align: center;
    }
    .email-box {
        display: inline-block;
        float: none !important
    }
    .email-img {
        display: inline-block;
        float: none !important
    }
    .complete-challenge {
        margin-left: 0px;
    }
    .email-txt {
       display: inline-block;
       width: auto;
       float: none;
    }
    .unsubscribe {
        margin-left: 0px;
    }
    .quotation {
        width: 45%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }
    .waves-img {
        margin-left: -5px;
    }
    .sub-box > img {
        width: 100%;
    }
    .accept-button {
        margin-left: 0px;
    }
    .box {
        width: 225px;
    }
    .complete-challenge {
        font-size: 12px;
    }
    .top-box {
        width: 100%;
    }
    .quotes {
        width: 80%;
    }
    .author-name {
        margin-right: 38px;
    }
    .full {
        margin-bottom: 40px;
        margin-left: 8px;
        width: 48%;
    }
    .challenge-box{
        margin-left: 0;
        width: calc(50% - 18px);
        margin-bottom: 46px;
    }
    .challenge-box:nth-child(even){
        float: right;
    }
    .msg-desc-box.fix-height {
/*//        min-height: 220px;
  //      height: auto;*/
    }
    .right-part {
        float: right;
        margin-left: 0px;
    }
    .one_msg {
        left: 146px;
    }
    .one-msg-img {
        margin-left: 37px;
    }
    .single-msg-heading {
        width: 93%;
        font-size: 35.1px;
    }
    .hyt_auto {
        height: auto !important;
    }
    .save-icon {
        margin-top: -23px;
    }
    .margn_btm {
        margin-bottom: 100px !important;
    }
    .main_menu {
        display: none;
    }
    .mobile_menu {
        display: block;
    }
    .categoriess button {
        background: #fff url("../img/mobile_icon.png") no-repeat scroll center center;
        float: left;
        height: 56px;
        margin: 13px 35px 0 0;
        width: 63px;
    }
    .dropbtn {
        background: rgba(0, 0, 0, 0) url("../img/mobile_icon.png") no-repeat scroll center center;
        height: 56px;
        width: 63px;
        float: right;
        border: 0px;
    }
    .select_category {
        background-color: #000;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        display: none;
        height: auto;
        left: 0;
        overflow: auto;
        padding: 25px 0 25px 0px;
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 99999;
    }
    .mobile_menuu {
        width: 100%;
        background-color: #000;
    }
    .mobile_menuu li {
        width: 91%;
        text-align: center;
        float: left;
        text-transform: uppercase;
        list-style: none;
    }
    .mobile_menuu li a {
        width: 100%;
        text-align: center;
        float: left;
        text-transform: uppercase;
        color: #fff;
        padding: 10px 0px;
        text-decoration: none;
    }
    .mobile_menuu li a:hover {
        background-color: #333333;
    }
    .fxt_hytt {
        height: auto;
    }
    .mrgn_btmm {
        margin-bottom: 100px;
    }
    .fl_width {
        width: 60%;
        float: right;
        margin-top: 30px;
    }
    .chic {
        color: rgb(47, 179, 186);
        font-size: 20.76px;
        margin-left: 22px;
    }
    .bold-text {
        font-size: 27px;
    }
    .fl_width .quotes {
        width: 100%;
    }
    .accept-button {
        width: 193px;
    }
    .msg-head {
        font-size: 20px;
        line-height: 36px;
    }
    .slicknav_menutxt {
        display: none !important;
    }
    .right-part {
        /*padding-top: 0;*/
    }
    #menu > li {
        margin-left: 0px;
    }
    .menu-list > ul {
        margin-top: 0;
    }
    .logo1 {
        height: 50px;
    }
    .score {
        font-size: 14px;
    }
    .center_content1 {
        text-align: center;
    }
    .subscribe-btn {
        margin-left: 14%;
        margin-right: 14%;
    }
    .center_content2 {
        text-align: center;
    }
    .yellow-line {
        width: 32%;
    }
    .grey-line {
        width: 100%;
    }
    /*.nxt-link {*/
    /*display: block;*/
    /*float: none;*/
    /*margin: auto;*/
    /*text-align: right !important;*/
    /*}*/
    .yellow-line {
        top: 10px;
    }
    .img-box {
        margin: 25px 15px 0;
    }
    .profile-pic img {
        border-color: rgb(255, 255, 255);
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        margin-bottom: -10px;
        margin-left: 8px;
        margin-top: -40px;
        height: 100px;
        width: auto;
        float: none;
    }
    .skin{
        width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 636px) {
    .quotation {
        width: 100%;
    }

    .score {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }

    .mGraph{
        width: 100%;
        margin-top: 32px;
    }

    .mGraph img {
        float: none;
        margin-right: 18px;
        transform: translateY(-3px);
        margin: 0 auto;
        display: block;
    }

    .quiz-box{
        width: calc(100%);
        margin: 24px 0;
    }

    #one-msg {
        width: 100%
    }
    .msg-quotation {
        padding: 5px 0 0;
    }
    .bold-text {
        font-size: 15px;
    }
    .chic{
        font-size: 20.76px;
        margin-top: 12px;
    }
    .chic .bold-text{
        font-size: 27px;
    }
    .content-part {
        padding: 0px;
    }
    .slicknav_menu {
        display: block;
    }
    .menu-list {
        /*display: none;*/
    }
    .con-heading {
        font-size: 30px;
    }
    .container {
        width: 94%;
    }
    .score {
        /*display: none;*/
    }
    .main-heading {
        margin-left: 0px;
        font-size: 22px;
        margin-top: 20px;
    }
    .quiz-btn {
        margin-left: 0px;
/*//        width: 100%;*/
        height: 50px;
        margin-top: 15px;
    }
    .subscribe-btn {
        margin-left: 0px;
        margin-right: 0px;
/*//        width: 100%;*/
        height: 50px;
    }
.big_logo{
width: 50%;
}
.big_logo + .col-xs-2{
width: 50%;
}
.login-btn{
    margin-right: 18px;
}
    .center_content {
        text-align: center;
    }
    .head {
        margin-left: 0px;
    }
    .paragraph {
        margin-top: 20px;
    }
    .heading {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .sub-box {
        float: left;
        width: 100%;
    }
    .description {
        width: 100%;
        height: auto;
    }
    .box {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        /*margin: 0 1.53% 36px;*/
    }
    .box:nth-child(even){
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .landing-box {
        box-shadow: 0 0 3px rgb(204, 204, 204) !important;
        width: calc(100%);
    }
    .landing-box:nth-child(odd){
        width: calc(100%);
        margin-right: 0;
        margin-left: 0;
    }
    .evaluation {
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    .work-img {
        margin-left: 0px;
    }
    .coach-img {
        width: 100%;
    }
    .google-play-img {
        margin-top: 0px;
    }
    .lady-image {
        margin-left: 0px;
        margin-top: 20px;
    }
    .paragraph {
        margin-left: 0px;
        margin-top: 10px;
    }
    .mob_res img {
        width: 100%;
    }
    .right-side {
        float: right;
        width: 97%;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .social {
        margin-right: 0;
        margin-top: -35px;
        width: 45%;
    }
    .app-content {
        margin: 25px 0;
    }
    .footer {
        margin-top: 30px;
    }
    .footer-left-side {
        margin-left: 0px;
        width: 100%;
    }
    .last-visit {
        margin-left: 0px;
        width: 100%;
        text-align: center;
        padding-top: 0px;
        margin-bottom: 20px;
    }
    .profile-name {
        margin-left: 0px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    .new-msgs,
    .new-challenges {
        font-size: 13px;
    }
    .review-box {
        margin-left: 0;
        margin-right: 0px;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }
    .review-img {
        margin-left: 0px;
        display: inline-block;
    }
    .review-challenges {
        margin-left: 0px;
    }
    .email-box {
        margin-left: 0px;
        text-align: center;
    }
    .email-box {
        display: inline-block;
        float: none !important
    }
    .email-img {
        display: inline-block;
        float: none !important
    }
    .complete-challenge {
        margin-left: 0px;
    }
    .email-txt {
        display: inline-block;
       width: auto;
       float: none;
    }
    .unsubscribe {
        margin-left: 0px;
    }
    .profile {
        height: auto;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .first {
        width: 100%;
        display: inline-center;
        text-align: center;
    }
    .first img {
        display: inline-block;
    }
    .price {
        float: left;
        width: 100%;
        text-align: center;
        margin: 15px 0px;
    }
    .score {
        width: 100%;
        margin-top: 0px;
    }
    .waves-img {
        margin-left: 0px;
        margin-top: 20px;
    }
    .sub-box > img {
        width: 100%;
    }
    .desc-box {
        width: 90%;
        text-align: center;
    }
    .accept-button {
        margin-left: 0px;
        float: none;
        display: inline-block;
    }
    .top-box {
        float: left;
        position: relative;
        width: 100%;
    }
    .quotes {
        width: 95%;
    }
    .author-name {
        margin-right: 38px;
    }
    .top-box {
        min-height: 135px;
    }
    .right-part {
        float: right;
        margin-left: 0px;
        padding-top: 18px;
    }
    .msg-desc-box {
        float: left;
        width: 100%;
    }
    .left-part {
        text-align: center;
        height: 135px;
        background-size: contain;
    }
    .single-msg-heading {
        width: 100%;
        font-size: 28.1px;
        line-height: 37.2px;
    }
    .one-msg-img {
        margin-left: 0px;
        width: 100%;
    }
    .msg-description {
        padding: 0px;
    }
    .hyt_auto {
        height: auto !important;
    }
    .save-icon {
        width: 40px;
        margin-top: -23px;
        background-color: transparent !important;
        height: 40px;
    }
    .margn_btm {
        margin-bottom: 52px !important;
    }
    .main_menu {
        display: none;
    }
    .mobile_menu {
        display: block;
    }
    .categoriess button {
        background: #fff url("../img/mobile_icon.png") no-repeat scroll center center;
        float: left;
        height: 56px;
        margin: 13px 35px 0 0;
        width: 63px;
    }
    .dropbtn {
        background: rgba(0, 0, 0, 0) url("../img/mobile_icon.png") no-repeat scroll center center;
        height: 56px;
        width: 33px;
        float: right;
        border: 0px;
    }
    .select_category {
        background-color: #000;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        display: none;
        height: auto;
        left: 0;
        overflow: auto;
        padding: 25px 0 25px 0px;
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 99999;
    }
    .mobile_menuu {
        width: 100%;
        background-color: #000;
    }
    .mobile_menuu li {
        width: 91%;
        text-align: center;
        float: left;
        text-transform: uppercase;
        list-style: none;
    }
    .mobile_menuu li a {
        width: 100%;
        text-align: center;
        float: left;
        text-transform: uppercase;
        color: #fff;
        padding: 10px 0px;
        text-decoration: none;
    }
    .mobile_menuu li a:hover {
        background-color: #333333;
    }
    .fl_width .quotes {
        width: 100%;
    }
    .fxt_hytt {
        height: auto;
    }
    .no_padding.mob_res {
        width: 100%;
        /*width: 50%;*/
    }
    .coach-box {
        /*height: 100%;*/
    }
    .hover-box {
        font-size: 12px;
        height: 100%;
    }
    .grey-line {
        width: 100%;
    }
    .yellow-line {
        width: 34%;
    }
    .btn {
        padding: 0;
        width: 275px;
    }
    /*.nxt-link {*/
    /*display: block;*/
    /*float: none;*/
    /*margin: auto;*/
    /*text-align: right !important;*/
    /*}*/
    .con-bx > h2 {
        font-size: 32px;
        margin: 20px 0;
    }
    .con-bx > h3 {
        font-size: 20px;
        margin: 0;
    }
    .con-bx > p {
        font-size: 20px;
    }
    .strt-btn {
        padding: 20px 38px;
    }
    .yellow-line {
        top: 8px;
    }
    .img-box {
        margin: 5px 8px;
    }

    #header-menu{
        position: fixed;
        width: 320px;
        height: 100%;
        background-color: white;
        top: 0;
        right: 0;
        padding: 12px;
        box-shadow: 1px 0px 8px 2px #616161;
        /*display: none;*/
        right: -350px;
        transition: all ease-in 0.3s;
        z-index: 99;
    }
    #header-menu #menu{

    }
    #header-menu #menu li{
        width: 100%;
        margin: 18px 0;
    }
    .openMMenu{
        right: 0 !important;
    }

    #clickMenu{
        width: 24px;
        height: 44px;
        position: absolute;
        right: 24px;
        top: 15px;
        background: #fff url("../img/mene-icon.png") no-repeat scroll center center;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        display:block;
    }
    .quiz-checkbox-div.hair{
        width: 48%;
        margin: 1%;
    }
}
@media screen and (max-width: 635px) {
    .img-box {
        float: none;
        margin: 5px auto;
    }
    .quiz-checkbox-div.gender,
    .skin {
        width: 100%;
        margin: 1% auto;
    }
}
@media screen and (max-width: 500px) {
    .yellow-line {
        top: 5px;
    }
    .quiz-checkbox-div.hair{
        width: 100%;
        margin: 1% 0;
    }
}
@media screen and (max-width: 360px) {
    .quiz-checkbox-div{
        /*width: 50%;*/
    }

    #one-msg {
        width: 100%
    }
    .chic,
    .bold-text {
        font-size: 15px;
    }
    .quotes {
        line-height: 15px;
    }
    .quiz-box {
        width: 99%;
    }
    .login-btn {
        padding: 5px;
    }
    .center_content2 {
        text-align: center;
    }
    .main-heading {
        font-size: 21px;
        margin-left: 0;
        margin-top: 20px;
    }
    .no_padding.mob_res {
        width: 100%;
    }
    .hover-box {
        font-size: 12px;
    }
    .coach-box {
        /*height: 189px;*/
    }
    .heading {
        font-size: 28px;
    }
    #jssor_1 {
        margin-left: 6px !important;
    }
    .right-side {
        text-align: center;
    }
    .yellow-line {
        width: 36%;
    }
    .grey-line {
        width: 100%;
    }
    .uppr-box > h2 {
        font-size: 21px;
    }
    .uppr-box > p {
        font-size: 12px;
    }
    .btn {
        padding: 0;
        width: 240px;
    }
    /*.nxt-link {*/
    /*display: block;*/
    /*float: none;*/
    /*margin: auto;*/
    /*text-align: right !important;*/
    /*}*/
    .strt-btn {
        padding: 15px 20px;
    }
    .con-bx > h2 {
        font-size: 28px;
        margin: 5px 0;
    }
    .con-bx > h3 {
        font-size: 17px;
        margin: 0;
    }
    .con-bx > p {
        font-size: 18px;
    }
    .headings {
        font-size: 14px;
    }
    .time {
        font-size: 13px;
    }
}






























/*OTHER CHANGES*/


.container{
    width: 1300px;
    padding: 12px;
}
.header {
    padding: 9px 0;
}
.header .container{
    width: 1300px;
}
.ssPage{
    margin-bottom: 50px;
}

.s-cat{
    padding: 6px 36px;
    top: -14px;
    margin-top: -10px;
}

.ssPage .desc-box.msg-desc-box{
    background-color: #f8f8f8;
}

.logo1{
    height: 76px;
    padding-left: 18px;
    position: relative;
}

#menu > li {
    float: left;
    list-style: outside none none;
    margin-right: 4px;
    text-align: center;
    padding: 0 12px 7px;
    font-size: 14px;
    padding-top: 42px;
    letter-spacing: .31px;
    min-width: 100px;
    margin-left: 0;
}

.boxT {
    box-shadow: 0 0 10px rgb(2, 5, 2);
    height: auto;
    margin: 0 1.3% 2.6%;
    padding: 0;
    width: 30%;
    width: calc(30.3%);
    box-sizing: border-box;
}

.boxT .desc-box{
    background-color: #fff;
}
.boxT .sub-box .image{
    height: 270px;
}

.boxT .msg-desc-box{
    min-height: 135px;
    max-height: 135px;
}
.right-part {
    padding-top: 8px;
    width: 65%;
    float: right;
    z-index: 1;
    padding-right: 20px;
    padding-left: 6px;
}

/*.quotes {
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
    color: #717171;
}

.author-name {
    font-size: 14px;
    margin-top: 6px;
}

.button {
    top: -12px;
    min-width: 140px;
}

.sub-box .image {
    height: 273px;
}

.msg-desc-box{
    min-height: 132px;
    max-height: 132px;
}*/

/*.content-part{
    width: 96%;
    padding: 0;
}

.theQuo{
    font-size: 20px;
}

.theQuoName{
    display: block;
    margin-right: 20%;
    position: relative;
    font-size: 15px;
    margin-top: 4%;    
}

.quotation {
    padding: 50px 12px;
    margin-right: 0;
}
.mGraph{
    float: left;
}
.waves-img{
    margin-left: 0;
}
.score {
    color: rgb(205, 155, 28);
    font-size: 15px;
    line-height: 18px;
    margin-top: 25px;
    padding: 0 25px;
    box-sizing: border-box;
}
.score > p {
    line-height: 42px;
}

.waves-img {
    margin-left: 90px;
    margin-top: 30px;
    position: relative;
    bottom: -3px;
    width: 92px;
    margin-left: -10px;
}

.chals{
    width: 30%;
    margin-top: 10px;
}
.chal-c{
    position: relative;
    margin-left: -14px;
}
.chal-im{
    height: 150px;
}
.chal-desc{
    min-height: 180px;
    max-height: 180px;
}*/

/*@media only screen and (max-width: 1270px){
    .container,
    .cont-ch{
        width: 100%;
    }   
}
*/
/*@media screen and (max-width: 1000px) {
    .container{
        width: 960px;
    }
    .qts{
        width: 50%;
    }
    .scrs{
        width: 35%;
    }
}*/


.bg-white{
    padding: 20px 0;
}

.main-heading{
    font-family: JuliusSansOne-Regular;
    font-size: 30px;
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2px;
    line-height: 36px;
    top: 2px;
}

.lady-image {
    margin-left: 60px;
    height: 520px;
}

.head{
    margin-top: 40px;
}
.sub-par{
    margin-top: 16px;
}
.heading{
    letter-spacing: .4px;
    margin-top: 50px;
}
.evaluation{
    padding: 12px 28px;
    margin-top: 20px;
}
.evaluation .sml-headings {
    margin: 64px 0 28px;
}
.evaluation .desc{
    font-size: 16px;
}
.b-divdr{
    position: relative;
    height: 40px;
    width: 100%;
}
.no_padding{
    padding: 0;
}
.coach-row {
    width: 100%;
}
.coach-box {
    height: 286px;
}
.phone{
    float: right;
    margin-right: 38px;
}
.right-side {
    margin-top: 90px;
}
.right-side .headings{
    font-size: 34px;
}
.app-content{
    margin: 70px 0 85px;
}


/*Challanges Part*/

.ch-part{
    /*background-color: #9C27B0;*/
    margin-bottom: 50px;
    padding: 0px;
    width: 97%;
    float: none;
    display: block;
    height: 210px;
    margin: 0 auto 50px;
}
.ch-part .score > p{
    line-height: 42px;
}
.ch-qt{
    padding: 32px 75px;
    margin-right: 0;
    width: 69%;
    /*background: #FF5722;*/
    height: 210px;
}

.ch-qt .quotes{
    font-size: 16px;
}

.ch-qt .author-name{
    margin-right: 56px;
    margin-top: 32px;
}

.ch-sc{
    color: rgb(205, 155, 28);
    font-size: 15px;
    line-height: 18px;
    margin-top: 0;
    height: 210px;
    /*background: aliceblue;*/
    width: 22%;
    padding: 26px 0;
}

.ch-gp{
    width: 9%;
    height: 210px;
    position: relative;
    /*background: #CDDC39;*/
    padding: 0 16px;
}
.ch-gp .waves-img {
    margin-left: 0; 
    margin-top: 43px;
    position: relative;
    bottom: -5px;
}

.chBox{
    margin: 0 1.65% 36px;
}

.chBox .img-header{
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
}

.chBox .msg-desc-box.fix-height{
    height: 180px;
}
.chBox .msg-desc{
    display: none;
}

.chBox .msg-heading {
    padding: 3px 12px;
    color: #757575;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 28px;
}
.chBox button{
    margin: 12px auto;
}

.acc-cont{
    padding: 12px;
    padding-bottom: 50px;
}



/* QUIZ PAGE */

.quizPage .container{
    padding-left: 12px;
    padding-right: 12px;
}

/*STYLE ITEMS*/

.style-items{
    width: 17%;
    margin: 10px 1.25%;
}

/*Quiz results*/

.qRslts{
    padding: 12px;
}
/* .quiz-head {
    margin: -10px auto;
    position: relative;
    width: 62%;
    display: block;
    float: none;
}

 .quiz-box{
    background-color: rgb(255, 255, 255);
    height: 215px;
    margin: 0 18px 60px;
     padding-top: 0; 
    text-align: center;
    width: calc(31.9% - 18px);

}
 .param{
    color: #9e9e9e
}*/

.param{
    color: #9e9e9e
}






/******************/
/******************/
/******************/


/* TODO: Lines styles */
    h2.both-line span.line-center{
      margin:0;
      padding:0 10px;
      background:#fff;
      display:inline-block;
    }
    h2.both-line {
      text-align:center;
      position:relative;
      z-index:2;
      font-size: 16px;
    }
    h2.both-line:after{
      content:"";
      position:absolute;
      top:50%;
      left:0;
      right:0;
      border-top:solid 1px #000;
      z-index:-1;
    }

    .answers-custom-fields {
      display: none;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }

    /* TODO: Read more styles */
    .read-more img {
      max-width: 100%;
      height: auto;
    }
    .read-more p {
      margin: 1em 0;
    }
    .read-more .rm-title {
      color: rgb(255, 255, 255);
      font-family: "JuliusSansOne-Regular";
      font-size: 19px;
      height: 30px;
      left: 50%;
      line-height: 24px;
      position: absolute;
      left: 50%;
      text-align: center;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-top: -23px;
      padding: 0 50px;
    }

    .read-more .rm-content {
      padding: 50px 15px 0 15px;
    }

    .fashion .rm-title {
      background-color: #2fb3ba;
    }

    .relationships .rm-title {
      background-color: #8fd1c6;
    }

    .fitness .rm-title {
      background-color: #fc9326;
    }

    .interior_design .rm-title {
      background-color: #fe5d55;
    }

    .lifestyle-coaching .rm-title {
      background-color: #ffc30d;
    }

    .skin_tone .rm-title {
      background-color: #6a6a6a;
    }

    .hair_type .rm-title {
      background-color: #d97040;
    }

    /* TODO: Rewards styles */
    .rewards {
      margin-top: 100px;
    }
    .rewards .button {
      white-space: nowrap;
      width: auto;
      margin-left: 0;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .rewards .rewards-button {
      border: 1px solid rgb(150, 150, 150);
      background: #fff;
      padding: 8px 0;
      font-size: 16px;
      text-transform: uppercase;
    }
    .rewards .rewards-button:hover {
      border: 1px solid #f4be34;
      color: #f4be34;
    }
    #updateuser {
      display: none;
    }


/******************/
/******************/
/******************/









@media screen and (max-width: 1290px) {
    .container{
        width: 100%;
    }
    .header .container{
        width: 100%;
    }
    .ch-part{
        padding: 0px 16px;
    }
}

@media screen and (max-width: 1120px) {
    .boxT {
        width: 47%;
    }
    .left-part {
        background-size: contain;
    }
    .ch-part{
        width: 90%;
        padding: 0px 12px;
    }
    .container{
        width: 100%;
    }
    .mob_res{
        width: 50%;
    }
    .ch-qt{
        width: 56%;
    }
    .ch-sc{
        width: 30%;
    }
    .ch-gp{
        width: 12%;
    }
    .ch-part .score > p {
        line-height: 32px;
    }
}



@media screen and (max-width: 1000px) {
    .style-items{
        width: 22%;
    }
    .ch-part{
        width: 96%;
    }
    .ch-gp {
        width: 14%;
    }
    .ch-gp .waves-img {
        margin-left: 0;
        margin-top: 48px;
        position: relative;
        bottom: 0;
        margin-right: -12px;
        transform: none;
    }
    .chBox .img-header{
        height: 150px;
    }
    .chBox .msg-desc-box.fix-height {
        height: 180px;
        min-height: 180px;
        max-height: 180px;
    }
    .chBox {
        margin: 0 1.65% 36px;
        width: 47%;
        float: left;
    }
    .chBox.box:nth-child(even) {
        float: left;   
    }
    /*.cont-ch {
        padding: 0 12px;
    }*/
    /*.content-part{
        width: 100%;
    }*/
    .ch-qt {
        width: 55%;
        padding-right: 12px;
        padding-left: 12px;
        padding: 12px;
    }
    .container{
        width: 100%;
    }
    .boxT{
        width: 47%;
    }
    .boxT:nth-child(even){
        width: 47%;
        margin: 0 1.3% 2.6%;
        float: left;
    }
    /*.chals,
    .chals:nth-child(even){
        width: 47.4%;
        margin: 1.3% 1%;
        float: left;
        margin-left: 1.6%;
    }*/
    .con-heading{
        padding: 30px 0;
        font-size: 30px;
    }
    .con-heading {
        padding: 40px 0 20px;
    }
    /*.chal-desc {
        min-height: 160px;
        max-height: 160px;
    }*/
}

@media screen and (max-width: 780px) {
    .style-items{
        width: 30%;
    }
    .ch-part{
        width: 96%;
        display: inline-block;
        height: auto;
        left: 2%;
        position: relative;
        text-align: center;
    }
    
    .ch-sc{
        display: none;
    }
    .ch-qt{
        width: 75%;
    }
    .ch-gp{
        width: 25%;
    }
    .ch-gp .waves-img {
        margin: 0 auto;
        float: none;
        bottom: -48px;
    }
    .chBox .img-header{
        width: 150px;
        float: left;
        margin: 0;
    }
    .chBox .msg-desc-box.fix-height {
        height: 150px;
        min-height: 150px;
        max-height: 150px;
        width: calc(100% - 150px);
        float: right;
        margin: 0;
        top: 0;
    }
    .chBox .main-cat-title{
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        font-size: 14px;
        line-height: 26px;
    }
    .chBox,
    .chBox.box:nth-child(even){
        width: calc(100% - 24px);
        margin: 12px;
    }
    .ch-part{
        margin-bottom: 12px;
    }
    .chBox .msg-heading{
        width: 75%;
        text-align: left;
        padding: 0 12px;
        float: left;
        font-size: 18px;
    }
    .chBox button {
        /* text-align: left; */
        float: left;
        width: 120px;
        height: 65px;
        top: 32px;
        position: absolute;
        right: 12px;
    }
    .complete-challenge{
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        padding-left: 37px;
        margin: 20px auto;
        background: url(../../img/challenge-complete.png) 0 16px;
        background-repeat: no-repeat;
        height: 50px !important;
        /* background-size: 50% 40px; */
    }


    #header-menu {
        position: fixed;
        width: 320px;
        height: 100%;
        background-color: white;
        top: 0;
        right: 0;
        padding: 0;
        box-shadow: 1px 0px 8px 2px #616161;
        right: -350px;
        transition: all ease-in 0.3s;
        z-index: 99;
    }
    #clickMenu {
        width: 44px;
        height: 44px;
        position: absolute;
        right: 12px;
        top: 24px;
        background: #fff url("../img/mene-icon.png") no-repeat scroll center center;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }
     #header-menu #menu li{
        width: 100%;
        margin: 18px 0;
    }
    .openMMenu{
        right: 0 !important;
    }

}
@media screen and (max-width: 767px) {
    .area-box{
        padding: 12px;
    }
    .phone{
        float: none;
    }

    .center_content1 {
        width: 60%;
        margin: 0 auto;
        float: none;
    }

    .header{
        padding-left: 12px;
        height: 90px;
    }

    .con-heading{
        padding: 30px;
        line-height: 44px;
    }
    .left-part{
        background-size: contain;
    }

    .boxT{
        width: 82%;
        margin: 24px auto;
        float: none;
        display: table;
    }

    .boxT:nth-child(even){
        width: 82%;
        margin: 12px auto;
        float: none;
        display: table;
    }
    
}

@media screen and (max-width: 636px){
    
}




