.rewards span.top {

    position: absolute;

    top: -10px;

    left: 50%;

    transform: translate(-50%);

    max-width: 100%;

}

.rewards .sub-box {

    position: relative;

}

.rewards .img-header {

    margin-top: 0;

}

.rewards .rewards-button {

    position: absolute;

    bottom: 20px;

    left: 50%;

    transform: translate(-50%);

    padding: 10px;

}

.read-more .rm-title.black {

    color: #000;

    font-weight: bold;

    margin-top: 10px;

    white-space: nowrap;

}

.al-pointer {

    cursor: pointer;

}

.sub-box .entr-in-rew {

    position: absolute;

    z-index: 10;

    display: block;

    border-radius: 50%;

    background-color: #ffc000;

    color: #fff;

    width: 50px;

    height: 50px;

    text-align: center;

    right: 0;

    top: 0;

    padding-top: 12px;

    font-size: 22px;

}

.al-container-js .al-hidden {

    display: none;

}

/*wp styles for aligning elements*/

.alignleft {

    display: inline !important;

    float: left !important;

}

.alignright {

    display: inline !important;

    float: right !important;;

}

.aligncenter {

    display: block !important;

    margin-right: auto !important;

    margin-left: auto !important;

    text-align: center;

}

/*wp styles for aligning elements end*/

/*.msg-desc-box .msg-desc{*/

/*margin: 10px 0 40px 0;*/

/*}*/

/* Should be changed in main style */

/*div#cat-items .msg-desc-box {*/

/*height: 210px;*/

/*}*/

.msg-desc p {

    margin: 12px auto;

}

div#cat-items .bottom-fix {

    margin: 5px auto;

    position: absolute;

    bottom: 10px;

    left: 50%;

    transform: translate(-50%)

}

.save-icon {

    bottom: 15px;

    right: 14px;

    width: 19px;

    height: 30px;

}

.quiz-head .profile-img .avatar {

    border-radius: 50%;

    height: 100px;

    width: auto;

}

.login-form-box > form textarea {

    border: 1px solid rgb(204, 204, 204);

    /*height: 35px;*/

    margin-top: 15px;

    width: 328px;

    /*text-transform: uppercase;*/

}

.pointer {

    cursor: pointer;

}

.img-header {

    position: relative;

}

.sub-box img.new-icon {

    position: absolute;

    top: -10px;

    right: -10px;

    width: 90px;

    transition: all ease .5s;

}

.sub-box:hover img.new-icon {

    top: -13px;

    right: -13px;

    width: 120px;

}

.msg-desc ol,
.msg-desc ul {
    margin-left: 30px;
}

.msg-desc a {
    color: #90d2c6;
}

.msg-desc em {
    color: #424242;
}

.msg-desc span {
    color: #424242 !important;
}

/* payment pages */
body.page-template-memb-account .bg-white,
body.page-template-memb-confirmation-my .bg-white,
body.page-template-memb-checkout-my .bg-white {
    color: #fff;
    background: #333333;
    font-family: "JuliusSansOne-Regular";
}

#pmpro_account .pmpro_box {
    border: none;
    font-weight: normal;
}

body.page-template-memb-account h1,
body.page-template-memb-confirmation-my h1,
body.page-template-memb-checkout-my h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: #ffc40d;
    margin: 30px 0 40px 0;
}

body.page-template-memb-confirmation-my h1 {
    margin-bottom: 30px;
}

body.page-template-memb-checkout-my h1 {
    margin-bottom: 0;
}

#pmpro_account-membership table {
    margin-left: 5%;
    width: 80%;
}

#pmpro_account-membership .pmpro_actionlinks {
    max-width: 410px;
    text-align: center;
}

#pmpro_account-membership table .pmpro_actionlinks a {
    margin: 10px 0;
    color: #ffc40d;
}

#pmpro_account .pmpro_box h3 {
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-size: 27px;
    margin: 10px 0 25px 0;
    font-weight: bolder;
}

#pmpro_account-membership.pmpro_box,
#pmpro_account-profile.pmpro_box {
    border-bottom: 1px solid #fff;
}

#pmpro_account-membership th,
#pmpro_account-membership td,
#pmpro_account-invoices td {
    text-align: center;
}

#pmpro_account-membership td {
    font-weight: bolder;
    vertical-align: top;
    /*padding-top: 10px;*/
}

#pmpro_account-membership td p {
    margin: 0 !important;
}

#pmpro_account-membership th {
    color: #fff;
    text-transform: uppercase;
    /*background: #ffffff;*/
    height: 90px;
    padding: 10px;
}

#pmpro_account-profile ul,
#pmpro_account-profile .pmpro_actionlinks {
    width: 80%;
    margin-left: 5%;
}

#pmpro_account-profile ul {
    font-size: 16px;
}

#pmpro_account-profile li {
    list-style: none;
}

#pmpro_account-profile li strong {
    margin-right: 15px;
}

#pmpro_account-profile .pmpro_actionlinks a {
    display: block;
    margin: 10px 0;
}

.pmpro_account-membership-levelname {
    font-size: 16px;
    text-transform: uppercase;
}

.pmpro_actionlinks a {
    color: #fff;
    font-weight: bolder;
}

.pmpro_box th {
    position: relative;
    color: #000;
}

.pmpro_box th:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 40px;
    background: rgba(255, 255, 255, .6);
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

#pmpro_account .pmpro_box {
    margin-bottom: 30px;
}

#pmpro_account-invoices th {
    height: 70px;
    width: 33%;
    color: #fff;
}

#pmpro_account-invoices table td {
    font-weight: bolder;
    height: 20px;
}

#pmpro_account-invoices table td a {
    color: #ffc40d;
}

.go-home-butt {
    font-size: 24px;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 20px 110px;
    background: #ffc40d;
    font-weight: bolder;
}

.go-home-butt.subscr {
    font-size: 30px;
}

.marg-bott-1 {
    margin-bottom: 100px !important;
}

/*Confirmation page*/
.memb-page-yellow {
    color: #ffc40d;
}

.memb-lowercase {
    text-transform: capitalize;
}

.page-template-memb-confirmation-my h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.marg-top-bot-2 {
    margin: 20px 0;
}

.marg-top-1 {
    margin-top: 100px !important;
}

.max-width-9 {
    max-width: 900px;
    margin: 0 auto;
}

.memb-confirm-acc-details {
    background: #fff;
    padding: 20px 30px 30px 30px;
    color: #565654 !important;
}

.memb-confirm-acc-details h3 {
    text-align: center;
    font-size: 36px;
}

.memb-confirm-acc-details li {
    list-style: none;
    margin: 10px 0;
    font-size: 24px;
}

/*Confirmation page end*/

/*Checkout page end*/
body.page-template-memb-checkout-my form.pmpro_form div {
    clear: none;
}

.big-white-text {
    font-size: 42px;
}

.big-white-text .ar-price {
    font-weight: bold;
    margin: 10px 0 20px 0;
    font-size: 60px;
    display: inline-block;
}

.big-white-text .ar-price span {
    font-size: 20px;
    font-weight: normal;
    text-align: right;
    display: block;
}

.big-white-text h2 {
    font-size: 26px;
    color: #ffc40d;
    margin-top: 20px;
}

body.page-template-memb-checkout-my form.pmpro_form div.al-clearfix {
    clear: both;
}

/*.blue-list li{*/
/*list-style: none;*/
/*display: inline-block;*/
/*width: 49%;*/
/*height: 40px;*/
/*color: #fff;*/
/*background: red;*/
/*text-align: center;*/
/*padding: 10px 30px;*/
/*}*/

ul.blue-list {
    overflow: hidden;
    margin: 0;
}

.blue-list li {
    width: 48%;
    line-height: 1.5em;
    color: #fff;
    float: left;
    background: red;
    display: inline;
    background: linear-gradient(to right, #8ad4d9, #1a94b8);
    height: 80px;
    margin: 4px 1%;
    font-size: 24px;
    text-align: center;
    padding: 7px 36px;
    font-weight: bold;
}

.memb-checkout-container div {
    max-width: 900px;
    margin: 0 auto;
}

body.page-template-memb-checkout-my .bg-white #pmpro_form a {
    color: #ffc40d;
}

body.page-template-memb-checkout-my .bg-white input[type=button] {
    font-weight: bold;
    color: #fff;
    background: #828282;
    border-radius: 5px;
    padding: 3px 15px;
    border: none;
}

.padd-top-one-elem {
    padding-top: 23px !important;
}

#pmpro_payment_information_fields {
    width: 60%;
    margin-left: 20%;
}

.pmpro_thead-name,
.pmpro_thead-msg {
    color: #fff;
    width: auto;
}

.pmpro_thead-name {
    display: block;
    float: none;
}

form.pmpro_form .pmpro_submit span {
    float: none;
}

/*Checkout page end*/

/*Selfgoals*/
.self-goal-container {
    max-width: 500px;
    margin: 0 auto;
    color: #00aeb4;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.sg-boarder {
    border: 3px solid #00aeb4;
    border-radius: 4px;
}

.goal-text {
    padding: 3px;
    min-width: 390px;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    line-height: 1.5;
}

.text-sg {
    position: relative;
}

.goal-complete {
    width: 100px;
    background: transparent;
    font-size: 16px;
    text-transform: uppercase;
    color: #00aeb4;

}

.goal-complete.set {
    width: 150px;
}

.self-goal-modal .add-pers-goal {
    margin-bottom: 0;
}

.self-goal-new {
    width: 100%;
    height: 190px;
    margin-top: 80px;
    font-size: 20px;
    text-transform: uppercase;
}

.self-goal-modal {
    display: none;
}

.add-pers-goal {
    margin-bottom: 80px;
}

.edit-self-goal {
    position: absolute;
    top: 5px;
    right: 115px;
    width: 19px;
    height: 19px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/edit.png);
    opacity: .2;
    transition: all ease 1s;
    cursor: pointer;
}

.edit-self-goal:hover {
    opacity: 1;

}

/*Selfgoals end*/
@media (max-width: 1200px) {
    body.page-template-memb-account .bg-white {
        margin-top: 0;
        padding: 0 20px;
    }
}

@media (max-width: 991px) {
    #pmpro_account-membership table .pmpro_actionlinks a {
        margin: 5px 0;
    }
}

@media (max-width: 768px) {
    body.page-template-memb-account .bg-white {
        padding: 0 10px;
    }

    #pmpro_account-membership th {
        height: 50px;
    }

    #pmpro_account-membership .pmpro_actionlinks {
        max-width: none;
    }

    #pmpro_account-membership table {
        width: 100%;
        margin-left: 0;
    }

    #pmpro_account-profile ul {
        margin-top: 30px;
    }

    .memb-confirm-acc-details h3 {
        font-size: 24px;
    }

    body.page-template-memb-account h1,
    body.page-template-memb-confirmation-my h1,
    body.page-template-memb-checkout-my h1 {
        font-size: 30px;
    }

    body.page-template-memb-confirmation-my h1 {
        margin-bottom: 10px;
    }

    #pmpro_account .pmpro_box h3,
    .page-template-memb-confirmation-my h3 {
        font-size: 16px;
    }

    .memb-confirm-acc-details li {
        font-size: 16px;
    }

    .go-home-butt {
        font-size: 16px;
        padding: 10px 50px;
    }

    body.page-template-memb-account h1,
    #pmpro_account .pmpro_box h3 {
        margin-bottom: 10px;
    }

    .pmpro_box th:after {
        top: 48%;
        height: 20px;
        width: 100px;
    }

    body.page-template-memb-account .bg-white #pmpro_account {
        font-size: 14px
    }

    #pmpro_payment_information_fields {
        width: 90%;
        margin-left: 10%;
    }

    form.pmpro_form .pmpro_btn {
        display: inline-block;
        width: auto;
    }

    .big-white-text {
        text-align: center;
        /*font-size:24px;*/
    }

    #other_discount_code_tr div {
        text-align: center;
    }

    #other_discount_code_tr div span {
        text-align: center;
    }

    .padd-mobile {
        padding: 0 10px;
    }
}

@media (max-width: 500px) {

    body.page-template-memb-account h1,
    body.page-template-memb-confirmation-my h1,
    body.page-template-memb-checkout-my h1 {
        font-size: 24px;
    }

    .big-white-text h2 {
        font-size: 18px;;
    }

    .blue-list li {
        font-size: 20px;
        line-height: 1;
    }

    .goal-text {
        width: 100%;
        float: none;
    }

    .edit-self-goal {
        right: 9px;
    }

    .goal-complete {
        margin: 10px auto 0 auto;
        display: block;
    }

}

/* payment pages end */

/*selfie-badge */
.selfie-badge-container {
    padding: 20px;
    text-align: left;
    max-width: 450px;
    margin: 30px auto 0 auto;
}

.selfie-badge-container > img {
    max-width: 450px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

/*selfie-badge end*/

/* === fixes by Roman === */

div[ng-controller=PageController] #one-msg .msg-desc img {
    width: auto;
    max-width: 100% !important;
}

.utp-slogan {
    cursor: pointer;
}

.read-more-link {
    font-weight: 700;
    color: #f4be34;
}

.challenge-button-wrapper {
    text-align: center;
}

.challenge-button {
    display: inline-block;
}

/* Override Membership Pro styles */
@media (max-width: 991px) {
    #pmpro_account .pmpro_box h3 {
        text-align: center;
    }

    .pmpro_actionlinks {
        text-align: center;
    }
}

@media (min-width: 992px) {
    #pmpro_account .pmpro_box h3 {
        margin-left: 65px;
    }

    .pmpro_actionlinks {
        margin-top: 45px;
        margin-left: 65px;
    }
}

@media screen and (max-width: 800px) {
    #header-menu #menu li {
        padding: 25px 0px 15px;
        float: none;
    }
}

.membership-title {

}

.rewards span.top {
    top: -32px;
}

#RewardsController .sub-box .entr-in-rew {
    top: -28px;
}

.page-save-icon {
    width: 15px;
}

.single-msg-link {
    text-align: left;
    padding-left: 45px;
}

.page-style-terms {
    text-align: left;
    padding: 40px 15px;
}

.page-style-terms p {
    margin: 15px 0;
    line-height: 2;
}

.page-style-terms ul,
.page-style-terms ol {
    padding: 20px;
    padding-right: 0;
}

.page-style-terms li {
    line-height: 2;
}

.container > .menu-list {
    height: 69px;
}

.lifestyle-btn {
    padding: 0 5px !important;
}

#myModal3 {
    display: none;
}

.left-part {
    width: 170px;
    height: 170px;
}

.right-part {
    width: calc(100% - 170px);
    padding-top: 2px;
}

.top-box {
    height: 170px;
}

iframe[src*=youtube],
iframe[src*=vimeo] {
    max-width: 100%;
}

#modal-bottom {
    background-color: #000000 !important;
}

#modal-bottom + #simplemodal-container {
    top: initial !important;
    bottom: 70px !important;
    position: fixed !important;
}

#modal-fixed {
    background-color: #000000 !important;
}

#modal-fixed + #simplemodal-container {
    position: fixed !important;
}

.open-login-form {
    cursor: pointer;
}

@media screen and (max-width: 460px) {
    div[ng-controller=PageController] #one-msg .msg-desc {
        padding: 0px 25px;
    }

    .single-msg-link {
        padding-left: 25px;
    }

    .left-part {
        width: 35%;
        height: 100%;
    }

    .right-part {
        width: 65%;
    }

    #modal-fixed + #simplemodal-container {
        position: fixed !important;
        top: -125px !important;
    }
}

/* Invoice Page
   /membership-account/membership-invoice/
*/

.pmpro-invoice.page #nav-below {
    margin: 3%;
}

.pmpro-invoice.page #nav-below a {
    color: #f4be34;
}

.pmpro-invoice.page .header ~ h3,
.pmpro-invoice.page .header ~ ul {
    margin-left: 3%;
    color: #fff;
}

.pmpro-invoice.page .header ~ h3 {
    padding-top: 3%;
    padding-bottom: 10px;
}

.pmpro-invoice.page .header ~ ul {
    list-style: none;
}

.pmpro-invoice.page .pmpro_a-print {
    margin-right: 3%;
}

table.pmpro_invoice {
    margin: 3%;
    color: #fff;
    text-align: left;
}

table.pmpro_invoice th,
table.pmpro_invoice td {
    text-align: left !important;
}

table.pmpro_invoice a {
    color: #f4be34;
}

table.pmpro_invoice thead th {
    padding-bottom: 10px;
}

table.pmpro_invoice tbody {
    vertical-align: top;
}

/* /Invoice Page */

/* Reset Form (wp-login) */

body.login h1,
body.login #nav,
body.login #backtoblog {
    display: none;
}

body.login-action-rp #backtoblog {
    display: block;
}

body.login {
    padding-top: 2%;
    font-family: "HelveticaNeue";
    background: #fff;
}

body.login .message,
body.login #login_error {
    margin-left: 5px;
}

body.login form {
    padding: 5px;
    width: 328px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

body.login label {
    color: rgb(204, 204, 204);
    font-size: 16px;
    line-height: 8.51px;
    margin: 16px 0 0;
    text-transform: uppercase;
}

body.login form .input {
    border: 1px solid rgb(204, 204, 204);
    height: 35px;
    margin-top: 15px;
    width: 328px;
    font-size: 14px;
    background: #fff;
}

body.login form .button {
    height: 35px;
    margin-top: 15px;
    width: 328px;
    text-transform: uppercase;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 2px solid #f4be34 !important;
    border-radius: 0;
    color: #f4be34;
    font-size: 16px;
    line-height: 8.51px;
    box-shadow: none;
    text-shadow: none;
}

body.login form .button:hover,
body.login form .button:active,
body.login form .button:focus {
    background: none;
    border-color: none;
    color: #f4be34;
}

.reset-form-box {
    width: 100%;
}

.lost-pass-iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

@media (max-width: 782px) {
    body.login form .button {
        font-size: 16px !important;
    }
}

/* /Reset Form (wp-login) */

/* wp-admin-bar */

@media (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

/* /wp-admin-bar */


/* Quiz */

.test-personality .row .ng-scope {
  margin: 0 auto 20px auto;
  padding: 0 15px;
  width: 100%;
  max-width: 800px;
}

/* /Quiz */
/* === END fixes by Roman === */