.b-account{
  padding: 10px;
  &__box{background-color: #F1F1F1; padding: 27px 12px 8px 20px; margin-bottom: 40px;}
    &__box-top-row{display: flex; margin-bottom: 11px;}
      &__left-col{width: 22%; text-align: center;}
        &__name{font-size: 10px; margin-bottom: 4px; color: #848484}
        &__img{border: 5px solid #CF9A0E; overflow: hidden; border-radius: 50%; margin-bottom: 3px; img{width: 100%; display: block}}
        &__accepted-challenges{color: #aeaeae; img{width: 19px; vertical-align: middle}; span{vertical-align: middle} }
      &__right-col{flex: 1}
        &__rank{display: flex; align-items: center;}
          &__rank-text{width: 75%; text-align: center}
            &__rank-text-top{color: #6B6B6B; font-size: 12px}
            &__rank-text-bottom{color: #CD980A; font-size: 16px; text-transform: uppercase}
          &__rank-img{width: 25%; img{width: 100%; display: block}}
        &__status{color: #AAAAAA; font-size: 12px; padding-left: 9px; line-height: 17px; margin-top: 7px;}
    &__progress-bar-wrapper{margin-bottom: 10px; margin-right: 8px; display: flex; justify-content: center}
      &__progress-bar{background-color: #ADCCD0; height: 10px; position: relative; width: 90%}
        &__progress-bar-comp{position: absolute; top:0; left:0; bottom: 0; background-color: #056470;}
    &__badge{width: 30px}

  &__name-input-wrapper, &__email-input-wrapper{display: flex; margin: 0 10px; align-items: flex-end}
  &__name-input-wrapper{margin-bottom: 8px;}
  &__email-input-wrapper{position: relative; margin-bottom: 22px;}
    &__name-input-icon{height: 30px; margin-left: 2px;}
    &__email-input-icon{width: 29px}
    &__name-input[type=text], &__email-input[type=text]{flex: 1; background: transparent; border-bottom: 2px solid #6D6B68; color: #D6D6D6;
      margin-left: 13px; font-size: 13px; height: 23px; padding: 0 2px;}
    &__name-input[type=text]{margin-left: 14px;}
    &__private-label{position: absolute; right: 0; color: #6D6B68; font-size: 10px; right: 15px; bottom: 2px}

  &__iconlinks{margin-bottom: 25px; display: grid; grid-template-columns: 25px 1fr; align-items: center;
    grid-column-gap: 9px; grid-row-gap: 7px; margin-left: 17%;}
    &__iconlink-icon{img{width: 100%; display: block}}
    &__iconlink-link{color: #D6D6D6; font-size: 17px; cursor: pointer}

  &__terms-contact{margin-bottom: 12px; text-align: center; color: #D6D6D6; font-size: 12px; line-height: 17px; div{cursor: pointer}}

  &__plan-info{color: #D6D6D6; text-transform: uppercase; text-align: center;
    padding: 0 40px; line-height: 25px; font-size: 18px; margin-bottom: 20px;}
  &__plan-action-link{color: #CD980A; text-transform: uppercase; text-align: center; margin-bottom: 14px;}
}
