.b-contact-us{
  position: relative; height: 100%; background-color: white; overflow: hidden;
  &__bg{background-color: gray; position: absolute; top: 0; right: 0; left: 0; bottom: 30%; border-bottom: 2px solid #7A7A7A}
    &__title{text-align: center; color: white; margin-top: 25%; font-size: 24px; letter-spacing: 1px}
    &__close{position: absolute; top: 10px; right: 14px; color: white; font-size: 18px; cursor: pointer}
  &__form-box{margin: 230px 10px 10px 10px; position: relative; 
    border: 8px solid #056470; background-color: white; display: flex; flex-direction: column}
    &__logo{text-align: center; margin-top: -17px;}
    &__separator{background-color: #E2E2E2; height: 3px}
    &__name-input[type=text],
    &__email-input[type=text],
    &__message-input {padding-left: 17px; font-size: 18px; border: 0; font-family: Arial, Helvetica, sans-serif}
    &__name-input{margin-top: 25px; margin-bottom: 10px;}
    &__email-input{margin: 10px 0;}
    &__message-input{margin-top: 18px; width: 100%; flex: 1; resize: none; height: 130px}
    &__send-button{margin: 10px 0; align-self: center; border-radius: 50%; background-color: #CF9A0E; letter-spacing: 1px;
      color: white; width: 58px; height: 58px; display: flex; align-items: center; justify-content: center; cursor: pointer}
}
