.b-login{
  display: flex; flex-direction: column; height: 100%; align-items: center;
  background-image: url("../img/new-design/login-bg.jpg");
  &__logo{margin-top: 15px;}
  &__title{color: white; margin-top: 10px; font-size: 21px}
  &__subtitle{margin-top: 5px; text-align: center; color: white; font-size: 14px}
  &__username-input{margin-top: 70px; width: 80%; text-align: center}
  &__password-input{margin-top: 5px; width: 80%; text-align: center}
  &__login-button{color: white; background-color: #056470; display: inline-block; padding: 2px 25px; border-radius: 8px; margin-top: 15px;}
  &__forgot{color: white; margin-top: 9px; font-size: 12px; flex: 1}

  &__sign-up{color: white; margin-bottom: 35px;}
    &__sign-up-link{color: #C1900E}

}
