
@import "home";
@import "account";
@import "yChallenge";
@import "yChallenges";
@import "messages";
@import "yChallengeLimitReached";
@import "yChallengeAccepted";
@import "contactUs";
@import "termsOfService";
@import "login";


// Common
.hide{display: none}
.col-centered{float: none;margin: 0 auto;}
.padding-vertical{padding-top: 40px; padding-bottom: 40px;}
.loading-indicator{text-align: center; color: white; margin-top: 40px;}
.status-message{text-align: center; color: white; margin-top: 40px;}

.b-arrow-left{
  display: flex; align-items: center; cursor: pointer;
  &__tr{width: 0;height: 0;border-top: 6px solid transparent;border-bottom: 6px solid transparent;border-right: 7px solid white;}
  &__rect{width: 15px; height: 4px; background-color: white; margin-right: 5px;}
  &__text{color: white; font-size: 11px;}
}

.b-category-bar{
  display: flex; align-items: center; padding-left: 18px; height: 100%;
  &__img{width: 25px; height: 25px; img{width: 100%; height: 100%; display: block}}
  &__name{margin: 0 15px 0 10px; color: #347F89; font-size: 14px; text-transform: uppercase}
  &__progress-bar{background-color: #ADCCD0; flex: 1; height: 12px; position: relative}
    &__progress-bar-comp{position: absolute; top:0; left:0; bottom: 0; background-color: #056470;}
    &__progress-bar-text{line-height: 12px; padding-right: 12px; text-align: right; font-size: 10px; color: #297A85}
}

.b-comment-modal{
    padding-top: 65px !important; text-align: center;
    &__textarea{resize: none; height: 130px; width: 100%}
}


