.l-ychallenge{
  padding: 12px;
  &__comments{margin: 20px 10px 0 10px;}
    &__comment{margin-bottom: 10px;}
  &__comment-button{text-align: center; margin-bottom: 13px;}
  &__bottom{position: relative}
    &__go-back{position: absolute; left: 0; bottom: -2px}
    &__go-to-top{display: flex; justify-content: center; cursor: pointer;}
}

.b-challenge{
  background-color: #EEEEEE; text-align: center; border: 12px solid #056470; padding-bottom: 15px;
  &__thumbnail{
    overflow: hidden;
    img{width: 100%; display: block}
  }
  &__title{
    display: inline-block; color: white; background-color: #056470; border-radius: 10px;
    text-transform: uppercase; padding: 8px 8px; margin-top: 11px; 
  }
  &--suggestion &__title{padding: 8px 18px; font-size: 21px; cursor: pointer;}
  &__content{margin-top: 17px; font-size: 13px; text-align: left; padding: 0 10px}
  &__excerpt{margin-top: 17px; font-size: 14px; text-transform: uppercase; text-align: center; padding: 0 10px}
    &__more-button{font-size: 9px; color: #B4B4B4}
    &--suggestion &__more-button{cursor: pointer;}
  &__buttons{margin-top: 15px;}
    &__circle{border-radius: 50%; text-transform: uppercase; color: white;
      width: 130px; height: 130px; border: 0; display: inline-block; }
    &__accept-button{@extend .b-challenge__circle; background-color: #60BA46; font-size: 22px; width: 100px; height: 100px;}
    &__complete-button{@extend .b-challenge__circle; background-color: #DF393D; font-size: 17px; padding-bottom: 7px;}
    &__just-completed{@extend .b-challenge__circle; background-color: #60BA46; font-size: 28px; padding-top: 30px; line-height: 36px;}
    &__completed{@extend .b-challenge__circle; background-color: #60BA46; font-size: 18px; padding-top: 11px;}
    &__pass-button-wrapper{display: inline-block; position: relative; width: 0; vertical-align: bottom}
      &__pass-button{color: #B0B0B0; border: 1px solid #B0B0B0; text-transform: uppercase;
        background-color: white; font-size: 11px; margin-left: 20px;}
  &__accepted-users{display: flex; justify-content: center; align-items: center; margin-top: 20px;}
    &__accepted-users-number{color: #9E9E9E; margin-right: 20px; font-size: 19px;}
    &__accepted-user-image{
      width: 32px; height: 32px; border-radius: 50%; margin-left: -10px;
      overflow: hidden; img{width: 100%; height: 100%}}
}

.b-comment{
  background-color: #F1F1F1; color: #999999; font-size: 14px;
  &__top{display: flex; padding: 7px 10px 0 10px;}
    &__author{color: #717171}
    &__date{flex: 1; padding-left: 30px;}
    &__mark{width: 14px; img{width: 100%;}; cursor: pointer}
  &__middle{display: flex; padding: 7px 15px 0 15px; align-items: center}
    &__author-avatar{
      width: 48px; height: 48px; border: 3px solid #046470; border-radius: 50%;
      overflow: hidden; img{width: 100%; height: 100%}}
    &__content{margin-left: 8px; flex: 1}
  &__bottom{padding: 0 8px 2px 8px; margin-top: -9px; display: flex; justify-content: flex-end}
    &__reply-button{text-transform: uppercase; cursor: pointer}

  &--depth-1{margin-left: 10px;}
  &--depth-2{margin-left: 20px;}
  &--depth-3{margin-left: 30px;}
  &--depth-4{margin-left: 40px;}
  &--depth-5{margin-left: 50px;}
}

.b-comment-button{
  border: 1px solid #BCBCBC; color: #BCBCBC; background-color: #333333; text-transform: uppercase; padding: 2px 25px;
}
